<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>as.acidanthera.BrcmInjector.0a5c.22be</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrcmInjector.0a5c.22be</string> 
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0a5c_22be</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.BrcmPatchRAM</string>
			<key>DisplayName</key>
			<string>Broadcom BCM20702 Bluetooth USB Device</string>
			<key>FirmwareKey</key>
			<string>0a5c_22be_0557</string>
			<key>IOClass</key>
			<string>BrcmPatchRAM</string>
			<key>IOMatchCategory</key>
			<string>BrcmPatchRAM</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>8894</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BrcmFirmwareStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.BrcmFirmwareStore</string>
			<key>Firmwares</key>
			<dict>
				<key>0a5c_22be_0557</key>
				<data>
          eJy9vVvS4zjSJPo+ZrMX4g7MG3jb/5KOu0eAopRZ1f2PjZ2vOlsSRZEgEIh7
          ePyfLW78y/g37vC//9f/id2ObGHr21YH/3Lc+L9rD/fJU2//w9u6bcc597lt
          sfFaceNbXmNsX3+14OL3HvElbhfSgf+POeUzxbSlhn8x4x1u02qpVy0t1lFT
          3EopKUcczziWm76rHE6qRw0NP41bCviM3ya7wpl7m7jTyXHnXGK+88g5niWX
          yofSSM8tjo7H3LZUOx8r8MkxrjpT5VE/gr892Ov0h8l+vKTARw7dj69nrjyO
          ATV/Pfz46a/Rf5/W6xWz3jRcs7xmLdpK/M/+ZtJP7nLoNRybvTvydv95vcrB
          3evu9lj8v96f4+uFFMGHCc8BkIK/Sa/rfI5+XWfcRgIBq/Rz3eonkarscjbK
          sK2bPZfU4Ea+j+36nF8um6rf47Xa8bS9jt9coC37EM6v493O7/37OpttETz8
          9/E87Hjbfs7fjRbaz3jiZc91dnx+jzMGnX/+XCduh44fP+NJvWsezp/xhOMQ
          LR7H67k0UCPR8nO+b3+8/FxnRI3z8uO29J+/43eci5DzrDx1cQjbQljwbseP
          zUgghq/JtX2WDjtp/Zzryf+On0HHPevhW9x8n/r4Ahaj22Nuc7/WoOr1nOcb
          d9jOiGPYcoxpn3vj/uc25w1Cxn8TJDSD7lem/TrsrcfE0SSOp4D93Jhx8IGC
          D/NKHfxw8hIacbsS9/l+zn7U+y6n3aPmq+429D56jmWmlFO5STjpiMaZSFz5
          5qhmvXkmyITTiOe5wepwLZJ44qORUK6wRW4lPH8iDzvwxQVGWPlEYLHkuhin
          nUcOfGHFyBkw1hNbBTO65YljyX57YFu1oWlLpCCed3Ce8F3ieRdJE892G89P
          ux/Db/YDxzD+1LZUolaoY5+0eBgJJFF88/+q/1f8P3DntvuSzq3/7iIxaNzn
          5/gxRavhlzrnFAcOP7txRiOR8HP9cPpC/+6W0wjhd7f00sXZ48/1ewoir/gn
          NzGy++EC6co6fqRQuSnqAAEOyJBOztw6npoyE9PUIHJazZPfxbHNQ2QTyEOP
          et1gP+C2OO8M4kOcRSx/3QNWErtmDzNKjkvKdxA4Loqx4sHuazvviRWtuEIE
          8V6k6f/wvXHr0ONZRbTkutAEIgiuzHq1s/sOtX93NxLA/tq+vpBy8Mc/LBvu
          BDky77v+izD08+J/dx7X/78677+8L+b8vzov/Mf7ZhEERVHb/x8eG//pmC3f
          ff+n5fvvViwMW7H497mYRgLlo0r4j7R8Of31V6/zNpvG+h/P6//left/d19b
          vr8/lP3lZ2lf0/3/w7FeJUahW0tuSBDmjZ98d5oOFaB7B+hLUKhxLjRrsILn
          HRh4hrKboafnHTrSjm/2gn/gPHvDPyjKO3QeCLi889wD/2AT7Bf+3VumTDnw
          ewiZDAGSoXJmCI0MgZUP/B7CIkM45AO/j24RVMrbAxc7cLEDF4PUyWBoGTw1
          g4FlqvFnolqPf7gYqDSfuNjZQWySpQNsuZCZDiNA/kWMU7LU9Wko+4Wfq39/
          h13nj/wva7nJmCkU7vpNC/b//Lhvf/slNZA3sfGeDbJ7No4TB0hBI1JFCxfv
          zbGPfyHPv/6tDagF15Fgn/ylP1p+tjP9xRSbOfHlddh8HblN/iQtI8XNGfsc
          1p0+f58Lf/Gwe8z+a/T58SjhVOy1B9gn1FXaTGc1Emga1uvHOzQyfgbh7dtr
          s430fZOxY16l+MzJ1ztBheSiBnv9/Zvn0ENvO5YkcvfMU5+zHizff/x95vvf
          XnFeN05WenErEfsm1e+ps3NCOeycEaEdnrd0hzKNPP0cUPGwe0N5nqnVv1wn
          ydrhx4O64S3dB0pmf10HDK3JuC2F5s2t+2YQ3+scaIbtWucc8daY9246hZ9T
          i5gJPp43VL9bXOfo53yd02AVaLUqzsnFLaTr65x+HZdkYIfOXI97T7uRwDNR
          MHXG6wdj71dePxin3fiu9/46BzRw9XXO1uwhe7zfD7nf/WrrnLLbOfv3OcfI
          0JRJCgXmT4nfBGTnnDAm7BwYMfr35zmXtC6SF6isD1uYWO/zda87kqdkasCk
          779dB0PIdg5kcWj1R+jYOSHndtO2qXjJ0SZd5t9zLyiSvUQt8Ly30wkO47le
          52C7dzl3Cq5TdyOCMf0c8bpGff75dGb/ZL/PmYoo57doYe2Zc6+vc8rRsyyv
          DsNJpiu/wh53EuDi+g90Cxx60XKoPWcNfeDnpdotYJe86Cu0djTTrYO2pN1i
          +zoHO2ScolNoyqdfp/X+IqkArjznOgeS36z5o7/IJcy9f865mk1Zn1/nwFQ8
          zH4+aCPdbp3399Qf0NnFxMkPzmrLs2MfvM7BbBs1Usrt05d5+zoHG2vItQUr
          E9S79ujXOfc42rNVgs+PBvycAwXsuJwcoQLG6y9kF8Pes7T+nm+aH2Y35ZFe
          14GJkfM6p65zjq9zIJ1hzENJMRIYdzWawIT2RUNfP8gRu3Q95NUXgx6ixSGP
          AOSLuQOy1D/+CvpO0UZrIJ072pVBBi+WGyu13XXO0WwZjuvrnAbb9Dlnv+2c
          M36d07Fv93VOjX7O973G3cv5jCfYUp3f95rZ3Vo859zsnCt/nQO9rBk7BenM
          y8j02L7OOVKHrb/GvNk54xgvsohn7C3qHFxn312UxK9zrphbWueky8/JX+fc
          pSe5uDqZUvY5pNr4nJMgIndxgUYyzfZcNGyNBOaNr/bXksMYzsUciIVOOnuA
          3L/OgSFx1iV7ui9w+T4ngVU+9NhcFibqs59zMvhYETvFZMXD7gVzt73OAQW0
          sdgYZLCz3K+HBDHZGDrV4rEI5eucNsm613WG7cVzfp1Ddjjd9wjmfi8X7Wsv
          piHHSqX75abPwubn+7mge10ntSyMC4RmY7vASV7n7FCh53NONV61cbE+50C5
          xx7gvTCHvdvixfx1zkn30xrPfvlzHV/nXKDSvM7Bmumc6lxgv/Dxml8/uG96
          BymfghZm9wV+ybnM5QtLhkXnDb3vLwrF92Rcfk4OvkjX1zkR9oruFfEx17c3
          +zknRfoV5Z+LmP38l4XJOfYiQQZhRdk7fdLf9wJb6ibszpsuvfiX61QQmfyX
          hcpXswUGR30Rd25XB9PmORRq2eV3/jqn1xx2+UHHGWJM+S/3AhnaOZF/o/1F
          gc3zEJW4ztHtuQoNvc+99pBb0zkYexm+SebXOcfZs3EvyCgQN72UVAdjiMfV
          bDeYNjukBsG2Cq9hnJXmXzRGEn1adldZFnsSRXU9aYBKHgNs25A7duim99He
          bxSHhbMWGVuCylx5Xdr62BK0bOkXwW0SbsNXbmm+ki7HDS3+PsPEU+92Pbw+
          7yFw0l+ON7xORrigoIU66eW9zYESzhB6HnL7Qf0PDe93mgA3XYZ0r9NlOULB
          cVjWgb5WbFP8ptHsCCkP6mNHuaEO3ROfsRoZrxSukm2T9Haepl6BXpoEZuli
          GWe2z4PHJlfQghPdfeNnOJopuJcErfNIOiWLuSHDqeDhLuct5OzV9TnbZ6PT
          z/XwMHlpIDyv0XTiut54Dvog9go199ouMJVzx01DLOPMDOKMwXhdKj3uGTy3
          0N6ht2HQU43FHiXu0UmALAMUA204xZwmLhJPMMYZ8B9MIDpKCkg7UThiJqBo
          XOVMGMwJVlVP6FccHOzPpACBuxs4UNv+9koi2/Z8RNl+cedi1vV+nmQ/uEKz
          zx2fW+59fQ/1Fnor7PHbNBn5GS7dA9c9qQ90kJwmfbdFOrN9pmy45OHhFz6O
          QYdMTBgL9a8WEoingehJCIVWA3YJiPjgcbxWso0QvwiK1+Lzd1/UtcgktAyV
          PBx5YpspnsprXCe9ytfWQNA3r4vxJI4lhCP2BN0I1NMwFsqOHA6GlGW/YG1k
          DUF8YAQwLe+WKVvBZTHIIbfijlW/uRlwXxKXn0sSTuHuAWLl6hXKVQwdbD7Q
          rMLrlYwECrVLnBDGiBhTpLFeoK8d7brbToFd6c3Gd9hZHX/4PvF7LgoeDIql
          EQPJNO3g5BS8nfwrKvLEwXAhGOfhBIDtuQ35Ig48dCYhYgE6lJDK91VGddeD
          J0wc7sUFX+fj6Y4xUwqJweamCdksdHtBTcNgcCpsRP4eN21Q7nUtPhcNcb3H
          kGr9HC8bj9fOxZgdXF8SCJxMCg2umU9siXAcBaZRa72RgPabIv1c8o7j6xG3
          g+6YQdTggAmaeAE98MfzPmAgJzOWtwNb8cI4UzwYdQ0zHiFhB9IShjLcMsPk
          Z2REJIDWYO/y+xT4Xcf7ATqCHgw5t3GhyVVbM66q11jBWS4qoQwM7bznedLP
          yXnOl5FApXbJu+PLYV8emm7IGxodF943e1/Lfd3Z3uOc6w7PORf+Gh5u54Co
          8SYMvjb6LuORz5OCRg/DsE/Cw+yNaviZCqN/EQ+MIRyYiITfn1TRsfNPPHDG
          udfQbwM53Y3rBChuNyYr8vXCZ9wHS5donI0jxwjGAOX2ec/vgn/H62O2nvf6
          rvi5t30GP9RnPstgRFAWn5wkY+fzR/kr5h7sPXblNS97jy0FPc3enzze7T0I
          6ZrF3jdwyhnt/QHiGre9DyD+cdh7aJNzDLynOZTuc1R7D4K9R7J532EQjs3e
          R1ynn75OOKdz/fTQ4q7beq3knkWOkbFIoFG77HiYRLkKdnHQNdHPkipkJHYW
          JgUiLIl1BMW9wlEw69DTcMWz3CeoGSSeaQ5yZ5PVxRvavFg1KVzHoKnOHGnC
          QToFerPjnipDcraIYe0Efsbkg0EecdqOYGIMd0GGKhQi3oNAoHMeoeL9OKlb
          gvygJ0yneExmXpOJ+c6cTOoJO95XJ9x4Q0r6+xPvfTI3esGwIUK3DVE3/5x9
          9zT/vNlnmSqBO9oIJR+2oTbuTIoxPiN3M7kSJn9OiZXoooyTe3zpLD3vJhbr
          tsTN0imWzqAMnancHb1uznHPIyWJw9McR+UAgzYHZsE1Z4GI2mbDftRRczZ2
          UikWCqs2KXNjw2s8FT696NsMlBvhpVTRqM41Mt+jU/N1tgw1MNG0C3iFSk1N
          P+2QSRcm4s5nHJRvsFTBOmlqRIbEoFRzYihWpHqB8iOJpL+OV6pkUCgZf092
          XDu3GlUHiCkq5yQKng8CGxo/zQzKdNx/q3aMLL3SoBe3+xwLFHdYYLmVIMP7
          wBaIEIM8t9uYo2zY2A9ymAEl8sgy3fQM0GsoakBUzHwAJ/ss6DNP2V5bdkWP
          5ppCjBAj+KPuECT3SRN5kzoKQsHkmrjsf37/FqPabJA9sB8hE8FBLswRHStY
          v0mFGsR/JUbITPfC+yMFIwGcK9sNe/rcTImAFm5K0gBp6KFgOjbYU5eUL1Oo
          hiUrSebKeQnlLfL1wCvPP+hffREOdAnsCCl5hYPfGaG+pEgWKZTDtO7dX29/
          XVr00idsDEbZx6QTz4gXiwELRRuQiXRK6lAulZQ54w5Yciliz8QxI4dJd52y
          iFlqVJszpACIBRYNY7+YLCZ6ZIpuai/B5T40M7MWzOHTk48rSRfYmcdHIuWN
          d7BK8FFT2OR+w+UC3VP0v7oid192XNlxSg0Dt6SegPPB8rHYt1IKM23Wab/R
          gr7PB1FH4+ZMN6vpglqszWLnJiw+jOjKNYXibLHnPiGot5ssE5ZkrtLZoilI
          AwvZ5bWJG9+Piie5mQIDq5kLzUXHNwOriX+Y07qXEfoG3gHBPWiMhGkDCth5
          EbIA6gpEaNyh0GiXNyiVhwz1QZcE+FfFFYLeMzEJvx41VJodO005KogT2oZ+
          i3EXDPh5X7BonPNMboBJgDy/sEO3aNYDnwH6zMl544KlIym/Uw56WnG+qJWL
          qZBfF7d+TDaIJim6dL2+Fp+KcTphijph9aAJHxRva6OQS4Eg9oK5gsjbIeq4
          EyHEMZiTiivGO5mYokVPyr4MVPLw+50mK3Y1jvEZsBEGszzxe3KBcxGdiBr8
          kuvI81q69+f9ecsaOyAsaVUx6yq6RbAztUEJruG0kA3YG6Q+mKGdnGlo+KTJ
          tibLMrMHdinO9M8Hly7Ivqed3XXNfg6yoQKOIFbG34G1Li1bNrmCxfYgISp2
          budtdv3o18YrRQQsXeok4DYl6JyDxrNPOhkGWXjJ0FA4ec6tsIk1FhILx5Pk
          u7D7kDNxPLtZA3rOkM2qacGTKt1OX/b6dNmcDsVYYO3a60aVopsFtNOKuHdZ
          TvK3U/VY1tHru0izhIvIVSkMhTCFEURdQbCJ5l+4qAfVBKs4YCGuE8N4WT+Z
          OQA0Ic1EhCJQkpuavB+vIxdtxbVBYOSScW9b27v7BQ6aFZcu8Fy0Y6objg9I
          2WBURdaYGFOJc+cmKGBo2NPYu0077OTnjilL/+F7KuJ5DqZTdDJFsMEOXsRj
          B46B3MDOJx0+ID58L0LDOpF90RTFA2WYcRkyfna552Klm458AyJsGAu/MAFS
          TpnTmGRuQqhhN0xaNRLgxfLv5ln82bHsZ34mGubfkOPuowwPOV/tXCovNcBy
          7LAk+skUMFMSg5maId5jiUncD/a43S+cJx1U2FF8RlIZRBGeVfctNi/v80GP
          5W/3pMh7ngPynlkla4xU/Hh9jgmmcAvQDcgJRRBTBHGRDZRmJHBSkeWdsmuV
          R/Os0t0j/Kc5/O8lP0GpvdbJSe6gJYkLaPt4vGMOyb4R6PgZlX48sa64mxwr
          1wmmE9OAokLbuzKggUmDzN34WanBmEdcp1YwsQuUCopVtAeULqq+U72rcpWk
          v4RYsJujnFuJbkuKbfCHQ7Z3Mv2mZYk0WKumwCVcKyxnCoQanXAJ1yIp4Z4T
          qzk3iz4fjHQyRxWSMikhYcfYEjgqbkTmTQ5DIoi4FsaFa+FB8L84YEJiKmHu
          4KUd5IrhgPlUK8Qs9mBi+PssvCZOrOWCTQLdbINqWG5wv9FnwnNw83UuWqCi
          aeIZphOUbjwXRCMDvThvggdMPskJro3JGPwOSiq4AaU6eGJSDOzEcCXm+uHp
          B/1iyqrJQLKoTqboig0XPbfaORBOYm64cTcv1k35nY3K9mzaMkw6iPk6KC+i
          LImsfUine1gcpuFzOc3hA5adXe8gdV7UjGumRld3TAi+TSB53B+iGHKZ7l1w
          B1OCmAFsuwzXNpcxx6Lhc3E7/WCYZOy6q2NiGWimiYlr4XOgI4maL65jbiKQ
          VwzlWE6iCdm+NSOS0z1u5ZA86bzPLW5iTrGbnkAmHmH6tYlcp1hOss08ozv+
          cZwTmvqh97sr1FkKnRlYTEGm95P6i5w8ciIxb2eju32Ue4qTlkyuSbf3mZmV
          RsdmtvhvZ2BF2bW7ZfIctui0FrB/psTwpN/eSOA+lNL0WXTJjJsBa+609tH6
          d9yfnAF7OoJNytZnrJOcgfSJzQDKPMklSLmMyzblZUNT524cRsWU1VRUEmQ1
          FRpTfhpOfVkZUp6wW6gU0fF4mHLE15jlIg5YVotZUKM69FCneensGQ5f5ABW
          nzI5JZO07XmgqAVxq2KchYu+0VWOse+VtIoVwJRMaoQHIyfYX7AUctBr187s
          tP/tmXj/0e79Ku3Lfd1+YhRMH8H8yWRNlM+HmZyDnrvDdKhfLZ/6TcOcXVj8
          vuOY+wwUy/DNG7rpIkt3OT2jcym8zBrUeTmJ018HRO/VTBcYDM1txgHOYb70
          bfOARLbdeTJWWU0EMACTuVDQbk8yYmhRBfMMIQzWBfPqgAwG996oYlApoZ2M
          AXHSGFuWpYH9fez3IZeuybEin/WmFOFHH2GMXrsS1NvIaXhdEEp19siAUPJ7
          8Jo4b+p8iqbjnhRvyy4f3WIZ9+u5Zvs8FykgDWrf+DXTtTAe6BGJO67ujfJ6
          hwhgtDJduz1nn2Dxh+qhprR6ji+n8H5mcLb+1+fEuZVBK/ooYOSF8fP7w35/
          4vcJ8w2Tdb86Kwgg+5vWGdOQqfDQ1UDbid+FdS8cqe97FcwbSP+UHwWvNKEv
          S0IagbVsocrhwkqlOCFPttlGwBQeULSyMURmGUBZxkV7LHFiILfdSBKIN8Qr
          juuGUOFkW+9MriNLgz7PzwcUyveihQS25DuXhofFCuhIgpTtPsHBd+1fJmgw
          hoBzwRJ1LsZWU3xNUsxSWDRJeI/v1iQxeIDZsUkK5uTp1GEkFuRtxjx0zAOL
          ZKB4Zptsm4f0NQ/PvQJzYaPNw/WjYMMiwfzRLQpVBOIMBNSXH4ZKbKTVlGj8
          ytchUxH3wHNLMcRcQ1mFmk2mrXFEccuka0RTdgvNRXlgffMyuSrs0vUWd6TF
          IbE75zASiAw/GguEIKYzhjnL1KmxtSmXVK2IR8ZOyLYLjuROFJbHZV+cwxY9
          MWR7iLJlgug7mGaKM8TXMZDWTT+5E0e6mBDlCs8mmT5WNDLm7508PTq53KbK
          FLloh+l3MvEg9/R53+0ziE+f067rlp4+JhgXWg+zLIvABERwlWlcIp7UsA/c
          dkh6MPqXZK+LTQ9zRkFypGreN/wABrVMr9z/tFyYaMBFZzrQ23KBtm83oAeU
          9TBy+Z3UejDdZwZBLEsm0JK5ulkOWVEPcR7Gc8mA7mTEJQtF9WcBP4USfJt4
          JEGV3WIEg1Ox/XGx4+diMndMm+YAYawfV08Uako/g61a1u5JqsGkEaEwZ2D2
          4Ne1VIpklN/ozFnmCk02ZmMmo1oufvuEnhWVFeeAIipXcDC3spwzm+zrLucM
          F/UVhu63onmnrlElY8EAeHKWV4jndprsSfkFuu/SmiW/KWZBRSDEXcS4c6Pj
          ffH35ed99ff1533z9+3nfff3/ef98Pfj5/309/Pn/e7v95/3h78/ft6fzdTB
          kblA/sXJL17vL39//by//f39/R6Cc+TdFJXrtOS8kk8Zl30fClzkbp9bGkqu
          aId9vv1z9s8bmLzKGPwzlA3lrfZ1vds+V/+cyjis7GGdbxnv0T+n4Z/9eqXY
          5/Dcb+p6u3+eaVca/708hp5Bn/x+q4AyHZuKOZMnkahWnORH38ag+9vOP+ie
          p+21xtcsk3/Pz3xo/M0/7/tQfk/2z5d/Hptf7/Tz/TNUhGLjtYr25amsFA+N
          jrJGrVLK5dYteOWpiKPMygvT9qDCIm8cU+kSk1LpoHlHsbhDrsNuYmLxlrJW
          lP99My9LPngoYy0pAwdK72nH+B7/uS/9ZoKiFDa9vy1bZ/nY51RSRyF75Y7n
          9UaibZzKpKkEC74zK6SdaVpE82O5VCg/EGHSRRhpgLZfIys0TOOGbgwd5CwB
          Yqd0GYsmV68zDAa0qOxGagI5MSCVyBc7VWn6M6gkVm4Z2fTdgjZg7ebCHd3m
          bL1C++ucrmF+e3vF8fhOjqEClvAbcJhRzP0eplkZvZouNaJZDlMxDhpeHgL+
          SWJJXpAByw0WKkQzmKAFkW4wZlgsywkGsUJVyEigslTGlBJOdAy3/Otky9Da
          x8o+YU3jb1KGlDSxVbBSRq/CN1uVUoJlOphPsH2yVvLKWtmq/TYqs2fn+VOB
          GjObYOTt79+F/vndvbmi1OxY3uwcP67rynTEuA4oqvXjCJKNzd0BI2BEuVL1
          /NQBmFPZLhDne7LqymgK5o8oh6Jwu0Xnbuz0W+qJrsGgEn0em1kxdXsFdLDg
          dLhv/2D60W6HuUzv5B+L+yhz1Nmg48ZD1zioNLLmFYpxOzp1CxFjZ7id4rrQ
          l4JxQSeiL+N+ftcp6YwEGrWD4n55vMrmhQ06lkmnH2f5sb9sXO1MlQ58Im+H
          K5TY+sVq0WyS8HAjy+7H7k0wJefGlJx2SJ+2XX40BVosDpGwk5mrFrq5vZk1
          1Fb6lytzJybEKfxIRkC8DqZoXwRyCPVBMm2zHK4zzHGtDKNMbmBhXClsDVTH
          6OOQmXeYa9evk2TsJ/c6FvkVxHUWQVC3gX2vOSOBJZjATsDQxESkcVkgt+yN
          Qs+GOIt/Do+lVGne2vzxWjXbtZabmAlIcoi5oywdzK/A57MxdjP4DAFjhS4A
          EamxzpTkTDtrpC+EGcqHc4E+GFetTH7ZzClqss1l4uVa+O5aeHbZk4PLNJeF
          0z/XUgrdE9Pj4vtmOYXXZgqW6qr6JyoHvctkO6Upkx6gJ/P3q4TvcXJsNr5w
          n3JuTP8dqD2bvY/5hYlmG4gEiJ2AXbdD8WF84e2P3/c8n51KhfRSFPMA0RXl
          MTgrppuZC7s3KqD9IegjfbgjzVrtsmAs/uEeTKZxAqK5XZTIwPgn6JvxjcNY
          +XpN5h9I0zjOtq4Pch7KWjJlPVFJW6l4ELWW/gbr5Qb3pmfW8SZkouIzTdMj
          m6+73ywEgdJEK0zmvXOBwZpNcA2ohTkx3sFXnBiubD/I4FDr2Oh2bH2muUj/
          9jD2nAlXc8btdtY6mUzBwLBMY5NhUh7pYj7CbQM2C+DhMIujQHjT2ZGPv+UE
          7p4TiOvsp1w50kkYBFrvwdJPibRKg/Q773AlZq4Ai4sQFscpVNtO6g1Nyl2E
          tfNwDULw7IplXL+iprUfUTPF1u83RwoX46M29hUxpHOoGQF1vYpTUhbSMfYj
          zvY/71FYBm5pYbgLrbfGYkaK1plcPNVihPUWb8xmNRKYRHmwQZLKYnPq5Y6i
          dosJCKrmemStJqpcHmrNxqbxROf74ehaYKpVMJNS7tyvie7yyJtMDcqP6/4d
          2aNY5vvctbAQUftbQZUCxAD2mflPY+I6yddAE/MlzvJk/l59wt4QTZ3Hi4qy
          XokkTEK8bNKUDUU73cfWt5WFyw3Ac+Vzvpm+pjnaza8gwmIoPRl7p4jC+Mf9
          mmtTytw5lOTRvJ9FKvYdUUmkXB90D+v1WuujcoXD1+cvc0zbfcU1OMfDUtYe
          9/U0xIqxdzMhvifVkw9eacw1MkEdExLbR0auCaAHL2rHe1LEdW4WiWvdOQLN
          EFNasPvfA2NlJ/Pw+KBWEybtfHsIIposXQ+mkDHdu8xEfhFHDUpzex7wrVD9
          Rj2X+Fnia4kVpl6+xd0SV8FNufuwDKfg4nKJu+Cm4BJbS/zRHR3MAXUFhXdB
          OxZBbSGcBeJjhtqYKMd6gYPKaJ9SCJviFMnS4eSbYHZrMU/reuaoEgA9b2MA
          7/4LN93cooJGLKAbrNM+FXCb7iA+CH7TBNkTznNSQy50yx4KkDB3LREcITCr
          JTJZ3jxdGGOnK5Q4ZFpcyjTVdmP6DlkEXRU5zHQZ9t3g56xkk6Tgz+y/NQEv
          LXgnO5CCoywg3w1bswcJ8ZyKoNETyUAOTLO++zgZi2Pgd9g4zct5Kldf6WSB
          sRYjUD73dZ17tzSvDjqPMePa4FDYiCl68gU0YtZrkKAp0WR6QidoAVxJxwfj
          f3wWbgFlyk3mO1jeZWKlT6MHS+Mge++stgpTeFixdrB5+gghZMNkOj12Mwv4
          dX9xkCCv5tcC07yXIjmKElIHAyIWK9ieOWOovt/nI8oOE2URXLu7Ongywj/6
          I6+Y3kHZd9TMugGT8Xj/UaqSKVWLjR/+wHiep8qHiQ8UFStPrZv3bjJx830v
          hmB5r9I+9+IAc1L4ORW3oyfhfnZL8LheCR4lyxnF8EJ5CiiCmbePGWsssvD6
          mPDg9wnjkC9E8TxZZau4I4crFUlHckF5QJlknWXby386lCgCo5uiJHt+IHd5
          N/drigXsOZgxyTGLEP6TOCSPYKDutctTgA4jnLVvvYWZVj8KrDKRKU4C9ZSl
          vG6WXr7EM8zUO7nI67FZ7uC4aAJ53pls45E8zNrlTuRDZ+W+wTwBEYQpTpEP
          C9iQ0pjJc3uGrblgh/nKV8LGEMu65OiRWzeyahXaD3WlfVumIJWYvbmS+Eo8
          FUsLMT/a73l3Nz8rJuVS8gxTy7Fe0hcYLKHGtMfjpg/fr08FkxNMJVNaf7BS
          MnGX+xZcDAwuKy/7GQOdYou9P1aTiwfQg8O16Q9mo9W55lNb+RErK8ZhKDaf
          UG64rRhwef6WJ/AdusfjyFm2ZymK24XnP4jxd5LAXFmOys1ITCZZa0NuxdT1
          o3oxDMW17Dioi5Y7iNWhe8wLKq4cmJlRMHnnVRnvZe2oZw07S1RYeX8uSOiP
          ZpAc2EU9nctzWC6LAsrrl60USomPKy+BbJkPSNdlhG076MpqO+U8/g2xMj58
          T22ar70XTbjyHBkhUzoUxCtlG71wE6/yAMJEIfluTGZVmlU7SVjpNOsFisIZ
          TQTBFp6seTQvJJNnezBiZi5BYwm0oEcURYTx8s9jGD4G7NGb75WvmHWfBMpW
          wiudP5Ap/S2z+43fpf7UDWiHnsQW6oN8o9t4Wfxmz7LhWZQuTwrAoWF5DHh1
          LynIlKHqpE129uaKO0RYN08qmDFT25Iljk264VQswcWI+uGA7KjJB7DbBHZP
          gfYJhOz9nI9ddLbTXKDacVGRxXYkY1+ZiA40OTezR49k7tQjNcOXcW+ip3TL
          G1YZk3DiYHoYcxSybJwzKQ6hrCD7bOk5LER3v/iZz3rahCgJ86BdzylkarVp
          9JWfZ54qzOo1TixTHcYBKoVLst8rw4fnN5s8mNoHzgCrxWziFfZFDUUsXvF5
          Jo+1TZ7EzhyAynSTQPBCq1voCe/5TONkFvBgpJXHyKxJbiIcz5MgwYDDdioy
          5FR3NR9E6TZOltKRq6loBxwgY54qgRJMZDzjKZixYptj03svpK0mCKaGx8lf
          J/Fm2bVHuUOXSzMrzz3ly6uPV82BUfadVzGEolFU+TKVG2b+EvMPwpjuX/DC
          VA9Gyrty9uyaTDSVk5/xxGTvFZNPlSkbUMu0qzBHqsdLsnQJ1kna32zcxOgs
          eL127XYWbzzPE6JZC9SH3TV8JYtDNCJrNPNOMgu0sm4tdY8VWLJwDB4bWOfu
          hwARSPEHz0siGLpf7Lz7o1fIpVvBWWM3wpBfw7N4S4mqYeUCVllU7k7GWAlF
          FujuPV8u5nEqNH6zyCXYNTAlzLqSmGT9B0GgmFy7Pu90fmEWqSvm4GAoSoE+
          zCicsTrEWDDcEZoyu0F/0i1sMsleV1pSXLLQX2VVUKlcUTcvElmmUxiny0o7
          L/VlUln+/srPvz1vP1st2kYwKH3GdLTz2AQjI+XVrhPdFLuiyd5bCEpCqJk6
          jy4ApU3Z+RRefLLrsBy7ZQLSyQKDv5JjpKhyMImIY6e2/5P6tX2qkAjyojIz
          6iIWL0nTw7qErITGejPn8mZaGEvdCMrUvU7Aw84Uj3H3bGMQgTYgy/Rfesgi
          piqiNwfQDE35DiRoVuryuMxH1igklQOQMDxg9YpR0DxMRhSbJY4ZYPTwePea
          iJsndXNZVhYjHvJ0XV5C9RyjCKCGKRbcnOK3VCp912B3ETftuzAJ8I9Lz3xB
          pVLTAQEJehLWmnWBhZk+hzApoEMVm4w43E/A7F7uUMInJEtUnYlpqNCLuLOg
          5IJiOye0no5FUOUTZ8avrJi6W4XRZZm7OXm+/5xKmP3Tng7avUHxg8QKBo7B
          8huZnVu7K8CdcAo0RxuxqlohxiqV1QYzeGQqnQmftfOrs/DT55n1iBQrhzhc
          rS5udH0oJpdS+HEJzjULbtbOPgpzDWHXKPrZ31HHrhpGJrE4l/niEFEVYf6s
          Xlw+M80Rj0RRaWPFiyciSDw4VRcvylCtO0yeUr/FA+SLxEMpGav6eZDRaKJ8
          5LDLJ2wI+gpYJILPAY+OoyBHLLpk7F09L95kq9fHRVYbqiC1lw36gRetMNGN
          oga6P4SQlB+S1Z1dtq9judn5uS9QCegszeUiNVowY96bpfawNyHDQeM0WPDK
          3Mi+Kcil9DkYdI2v2a0Kq9n3XZmZun3xmaWUrufIIyaImIsYx2nXa+9WXoa3
          dpyiijWnCg7FG+qSxBVTnStFUCRbX+KqmK/iLa4EYPM6Pxg+j0SW/Bf3R2Rl
          5wJF25DwvGs3R6VKwULBDySHVNag+DxTHpjeBZl1UztmlY+SMfEUIOGOXUIH
          TSQrUnFMIki0Ch7JzbJkEoMijJClJtNscRRI0JPOkc2IizulcKecpHiFOyz5
          4UndXoDGj7gyth4PS6FeAaUljpY4W+JoiZMVCFvia3MxBaLerdzMk0BWcoiL
          n+Cp2tD39LrE2hJzQuhmJvhRDZnkH8TSCrTdCwt0W/dxq4nxkuvDffLtGVDY
          DOQ2K7dzTC5uY4ayB6Qyo5A8to1VlIo7Dyf6kZvlDs7KwAhYKCc43azfEaYP
          gSaICUI2MtzUIr+ApZCDqjWsOGF2mHGwLBNErKylJPv3yMHqAZmAgicasjQC
          Q6BdLl5XXI708s0babgIAevvBex1SITI64cdCcXzzAQGh6hgmWpiuJcsV7n+
          O+3bE9btxu1MkTF5+c4o/1QS51TWzKEC1NCwanREDaLTJSNOOq94n8pxZNxr
          UBwYke7MJQS9rGN/datbNrLmq21WBxDM3GPgqburPDABpV6P+BWxhxO6x0lg
          WjznfZaH+4HrpWbV3uN0vcFyDaSzTOgSlWYzRBFe9+DWkkLPU6YpFGWMbbfn
          mJVo5tfm6aNTjEZOIWYIMZkxWNp0NQ/bEXZmtfIZOCjXbKPZzcSX1MLE7++2
          60ySxdkzZ+f5BJDyZTAp6/MFUbGyXm0vK7PoWwkDZwJPZI2h3AzUg0NoVp4u
          5F28DtMfbuLKVa8qZjJrEuZ3lDMogZPi3x+OJ2YuU7B4JDMlJ45AtVgEFpKn
          yMFKOdv9X1s0hUuNfSOLpvv5OAYt3CyatPILYdHQ3A2eEwGL5mSFEsxFdTKJ
          FBWCFyTfMIdPbaYrMXknLi5BpEqq/ieh+71ghrUUm1UfWY4Hrb3mFoEm4jRn
          RxLKxieUGcmcaHooMbKLFU/L7F0TF0SpLg9dyWnEANm+OQcD5pZdChUlaMdb
          feHeTCbv7TFj6Bh6PIbUkBk8+vHULXa92P1i64vtLnb6iAXPKwhudajoiG0R
          0so3MDGyh8cD6LmA39bIslp+rY9f64dT8c6n0HzRzzFVGBo6lqr3j85UmrK1
          NjmAlu9Cpr37LgjPSMfV9R0pvZV+nw+LYdgiBxbxHNnERTRxwUQeYRIxdbYI
          Rgdal5EA63832bK3mSWcPqYa8MQdN6QPWxnEo0zQKY6zlKnetM/x2kiplN26
          keXnF2rBXOlHG6Y9ysDRbucpkyZoF8V1jvzmoXSFioP70QObVnxcnUdUwYtw
          ASwGjmnyWLg4jPQGlV0zDVjFISuL57ZIPdl9dqsmf9nUlhZv2ARBzi197kzg
          SDWuXQYmts+tJb9PWlp7chyGsUsBtnOZJr60+l0gFHQXHjQZNV6ane8xCozY
          2Hs6LbR7f3FEjOuj5OIdlNZOO8IVXBaTDy9D85L0pfzSZ+LvXSH2PjdzKuPy
          50t93p/343Oh/KBdWAJlKva59xqVwBj/ITeOmjxRLJa51sy9bA98uVz7yDhd
          i1Uxfow5FMTLAc/LBuy0F+ogYd4XVR+IsMQYHZslqXBkOWdYbz9U3k4kxUt1
          /twaAvlwArgtQYTuabf375VnoKQMQu7V669JttETRdPbGXQqVZ7JgObyxv3B
          rug9kXs5RvOkRvflk9Ndx1/EHzms6ws6B9wwnILmM4vtlzP+gz9mcaQFR7M4
          nkNMzJ3pz4sdpkc7NXYXfpw1i90uNpr9plXYJxIoYrvlsM/Dtd9fdrq06KWN
          39kG9clONja8/6R4v7Vkmay7Ld5vMUjwqtvc3UfwqqsP9AcerIQqc9LbADXq
          4iuEtZxGNJ2CQryhE0c1eoiXnjrqGO9QMAPe/qqIaVW5mSWlhGVyNjdHaVIa
          9zgMucQDfO0TG1gVVZEl94yIDhXv6Hf5g4TCCCw5IjjOrnv+IKGwguiJfL7m
          Sxv2ma/lIFbRyM/kmUfr/p28bf/75L3x8ajRRVZepc9kPAP5p8qdvLABjUN8
          4e2x/Prw+3ukUUkjHsv43X3qfcF2VVFm5uGOpS1UY+kHvQyBoe0G27/pvHPK
          C/iP18nX6zr9n6/DDN7f6xyrKju9n09ZP3IkPc+X/PmcM/D59t2ez2B5TEfZ
          o70+UUfZ2tUyrlIhMgtdZkqRF1aR5xB4XsF2X0q2UVS4uy5wMtBlVTLti7Ws
          i78GruQEZcJ6YgJlH9Hr/6ZhU2nvBDoant07lc93vZUZOl8CZbmBP9G6EFr7
          ISRBY4dLR1CmzTiLh3mtxiFQHtYVOsbDNlYQlcMLXsFzlKVMBw2dO6reZW4d
          xhIvltGZtaOMZj+X350CmvpmsyvkW11RLAfuUj8ZRR8ALkt0bW+C2ph8U56Y
          P4mfu+KdIq+U+qocAIaLzLGW6BHE7mWIzYlDCh9/tcTIpczle+kf50XT3jOt
          aXoTHq+ZE4lhexYL7hU8LDuk8bzYTEDInhcHnLbHtBjauXSJzFcal+f1vfL2
          LZ1rLbIQ4NkkSzL3YKBplpe1QbfsJRv7VKFGqk/R48yu1WbBw15T2HKYp2Hm
          jUXqz7weNiarA5CbV9Dy12ecXwkW5TGZQsVvXIFd1g4VTnlGp3IRjnWNVe+g
          5A6SYpGCJuibTkSZ2yFx5AY25NIoNy7D1dLej/UeuvsJzZsbZ+fnWj4JqAq/
          X5bZ8wdCqNdaCIp3qDTuWgvPOoU173i2W4kyzSy2e+EPsZ3CrfmUKGjTNg9f
          j9NI4FaPx0VBrFahc6OTSuSsIGFcJdsikNgLNJKvopJk+fSi0MMQRbLFF+qT
          Y5jsgVahxytJsizW/qRFH0QxAku8tSNaIuLpYZOneDlzFLLGerOqGNs7XEM5
          tFb5y3wxnxhDE7X3s5g2LgcLzCZVUpcU1/1lbSireewkDEK2Pp42tjDggvQa
          mFquBUiW68952+jLIBhGoosdjxXIyWA1abdjsqG187mi/5ZtUZgNlInN7HPf
          YIJTy18pX8sCmoeSTq3uIP3WHYAYDTV1Un9Yz0rR9TdCXt9D+SQBmmtI6bv+
          xc0JIA69urB9qF1KxJvaCch4G1QrKfMUq7f3kInHm9r3zVK5F7VHQzC76J37
          b6i+ZuMWsXpIuLuXLXhWUnMLJBiusdh4YLHqrpCtALY3I+h6CBBDiZxv0zRu
          H9OUGn8zb+dc4XB+HvWeYb7ulc8PIbMVBu67J4OsVTFMccCMbPrUbUhuV44W
          Gl7HGAyiR7DTwcM82mpjzcHcwKn+jPVlRhPD6g/tf9VnuNh6/CfuF1lWAXWK
          ZrrAHoSqM4Wy/ZVFy+g6U6PD9hkwiEThUcG9Esa1G0yaHpBpYHRv+vndIlp9
          RRzZg0Lng6PQYTRsR1t49Pbs37/oFIv70Dv5XpTA2oD7qQx66vjDJGav9Afq
          Bw+A8207V7vvWlVPw1K1oaSQA32VvcVX+Zoyd7PF+p/UN9v911vzZir7U6NA
          dWCwLt3yCRmdrMLEs+tUmCZSbKPExLHOAxVZHQaUOQJX3dUqqTl+6FXXE5kV
          YL5tjKPUUQlRLOCx2q/hvhzIYBbFMPVMc0kr4sT1JhFhmmUQ75GFHuG4puUC
          4nXTibyxPWyCeQIVDd/XahPu7DGu+r5Zx0l9NNnAse0Tvz8JQRW341VGtW1W
          H8+ishwV2CC0dedLJPeIw46BzfE30IcEZBGFHDTs/VqYK7vcbw524RbGQtgg
          6xt9sUPVoS8/g2ohpXe4+Lk1sc/isd/Y/RRqCkoHy8B0s24Ec0zTlbIllwbm
          8z95ksUtiOX3qIoa2nnxc950wk9/CVVbOqAp4pDWRE2dk6mSuHecllw7U83h
          hZ+okjIGuKYFpNT5gk9z71aTMLwcf5ipfFgpyZ6Uushyu3tXpu/kA/j73dt6
          tWXWXSIKlhUYuyos3q8rPy9c3X3S2QpSshVNNJa45OwarVjlAopieuypqpgA
          BUm9B7pVKRNHYAFf8YH3tEqt8H71Snje46o/r+RUGZxqDx8830dJyr4zPGF2
          c9ONnr2FU8S0WQIxrKTZ5EmzaSXNFnEVLRSBtRkbGFYgS33qigfBrVy5HYyi
          gTag04y77AsXsBLyhTI/KBNJhig9ZZPI6rdwpyE9Ggk59FEGU85Vh0lIH8c5
          oghKTYkufcH2klAm8YB3y4nkuBJ0jfkB6yLqvXkHIeo5I7Mwh9B2kLToQo/S
          S56KMnfzBB5mr+fgZdGrHq6nf3HUZKU77dsHi+8x9UAEJQjD52pPYSpRNeiD
          wJqxZE2BqN0ih5n4YZiIi7DuEd9Hc+CMIIDJYKVd/rBEQVnp4CRW2s3BbPHj
          NrRuL+eSc4XPowLbiSd+uak7Nfzd4G+bZTTTRW1exSlsX5XPqZ8Jd33JB+Fk
          YqlewSPYPMGC4dhWSdBVQaDEv0AfJ7gs2TkJr8sUxDGarf6bcpougteTBaPK
          z2D9xt6YZ8nWmINu7Y5X+i5gYhGCZ0RDPoFglPJpqhgU/stA53Y10oH83m8i
          evem5ANcdFpNfaBnSz+0zINO3B2d0/0caL8MT/K3u/92129vP07IWgJk7mQq
          Xqa1tyN7yVZzT1o6bELTx9TC5mwpe70djYPMhYUaQzwePGzOXhFNJxVdxyl6
          SRl3Cz7zOBhQSSo160wCKX5uSbsdO/wYzqtpWn4Erl3TsPv21/uDTRAv8+49
          YmI5vbghsm+CpF0u+Dh6OGJ53OoPngEhaD1yKkxGEghpmXN4hW/HWbzfm+fL
          cZaX46xUqx+M+cMFoyfywI45o4jOOM5kXsxerPmpopObzL/TE0bD442j6bHZ
          BbPh1aTtsh2Dn50c3LSs1p7Gx3m0Klu4i+J5batqeUXNlofr8Xit6Jznv6xm
          Fst9vLTbp7oZpqqifEvbvaxn0ZPTqDovukQ8mcSrlFf077eMLMXv5JIn19G1
          cJpitIaWhy0tTvBa/NT+vviy+fsnN5Bzy519uf+j+PxJFO+eEFpM4Y6nJ+qC
          IV7O9tciJojLP44lIrw/2V0PsbHUj068mZ+kYI3DYwS75Qr7gkeXt/Sjm1m4
          SqZtwPH0Ad+fBe9upshmfU3UDI1QKrFGcAt5E4mHz65ywg2w3e8sNVhChZC9
          NscdDO6xpKyrngMQrPJ2e3sI+XB0NL0LQyVV2YCHIJHzU+SSxp/uXZ4D7V6a
          /SLKX2L4JUbwcRUPLmImpIdZU+bnJ6PCtux6rf7qCSOVnU087W5STzvx2aKe
          fWcK+cBn2730O8rdm5Ilgab0wVRW/6AI7YQAhle0dve7Ir2nzOXj+xpkLpHt
          PsY6Hs07uDf1dUusNWOvIJZtBZWqSX7QhmXTBa+xJwxKYyZgkj2O99BS8Txy
          WZ5q2FBugsaqxk++gmx1iYSMlaMj3PQuHInsh/l1fk/da7N7DWtGxdh54vUX
          sDWDJsGtiGTWge4T3LEDYhnsWqemVTA6daxARTBQS3a043hp6jEtbtPrVdVJ
          UFm2feVMmg6k3kNuZzfWLiotStU7kBan4SUc9nqSz/VP46plj0t+sitMb9au
          p9jve7XXczNtHjbBNFP8UF++4b9zUSEr5OqGHEpMhOQtc+iBlJ5FbnIT+hpc
          5/DdnkzJlwl7KEdg12cGohJsDHcNdW4YnlCG9bb7qsFnB1d1QvznEmZCVa+6
          ODk7rgdd4w9Ymbeb+V0tLIfKeoDbULpXFq+g5JjaHQ3m5agCsTSAh9O6kqXN
          XpUlFAWtEtmdV+CNEBtcTDxRXIGVBZHv3IHAmX2eXlbmBLMmkU4eslmhnFgD
          bnEblnjFFUMpQv3QNSCkhOC+eXYx6wD4+6t536OShHrGCOHRDe7/6fPwMy5Q
          8cZrXgML/B4X8TqgLPO61CisYmtT+99xWH9s2XLWBSpYX4e9zEvEolAAW7kY
          CYxL8CsbWczB/gKRLT3ZUEKuVcGweSu1x6RSZ7YRQjMnCWViZDZrNhwbaO+E
          ie3c4WPlsGeiV/B8dhkYLKVXkwtm0aoPkHGBfitf4HpyB1g8KUeJWydtVdTe
          bs5RA2BBK5Z43nKzDplkssl9Mjk/77E01T1OCHq2SbOGU7d6Hcgdro5pYWKi
          Wfb9OUcQ85dH/NhMoivLWkmw5FDvc+WQ2dQixwAm4wdKb81nWhB5hOxN3sTD
          CUou6yTsw3Mpi6qKNgj9g31RJE8I0a/KLvaKS1RsTC9QnqNBrmBXms7jORAL
          qm+5hiazPnmzBcoo2z+/gi8OJK2GWgbeqEEFDuo2uHphDmO3SYc4YLIEdjCT
          khZUju0KS2iGxaNk0uwPx8XCArLMSAEbyEX9xh9GPb34m6JdakGQwyYxeMv1
          JYNVy3AQJtdbtYBQZS87gUlGco3LQjCz99SQo+RxOC5KV6hWQdaH3M7sJLYJ
          xXyzRlkhauFPKXiwSy+FSNhI7KRmg02QWE9l5XjlBP+yY/qM683D+z8Qf6bL
          ZRzVjJkm4gnjqEJ/S31tjnDzPR2Z00Qz10HZU5Y3uLFU46YhGc0BpK4ql1Dd
          de6xwt30Vay6gzTdKNxJOpygYWlfQUER2NZdx3gx9R5c2T1qIPmRlWsxLiLK
          bSa7Bm6uWkPGyJmISWHNsTL8S0dNgMrPlgdq72K/V+gzfiiUA5+RwQ7bKfmW
          i5keBDo4hiYHilW4ZqDpI+LELk40jUAIgQ6eXaimRzzkIBndav2ScitGl9kZ
          mQ8BVt0IHkujJbCrChgGU+FZJ8uyTXwW/kIjMVSiB/dtiiWrPWXme2IW8Em5
          bn4+KxsOHOM4wu7pbqmFmVrYvE/ilZpV+jIwJFd6Yp1yxb9rPSfrdXgNbobN
          C31rq6VlqNqlVnbbLakOUHJh8KexIRiWplLwxDoqA8bNWqK2voQDxLSVkuwH
          29ZpsqJ55QjMKZgW9bVTf7vueL/7yiMIshyqoYcoqQRysCh8uS9UsBUrDyqP
          do04KrgTNqtLFJWzYndbAZh1vUz3NojvsNw7ph8dVlxxTQoCzNeVnAUW+y6q
          19t+wvTxFF57rcfqIXRZZpJ/L5avNLJHhzgpAhlk0is41pttPwmzwWBsCPBE
          q0QJHl1h6Ed0+rn0fBbKcilihovcVP0WLbLK+xDizo9W+/9Tovgc95MAqnNv
          uQvHLw5kb9aX+PDNyPWZh3s6V9i4OELbLmJLrFc+ruFhopP1Z9qW0q7lgZLj
          IXTqnSz+2nu76bvCtr8flyph4ahBx9nlbCD2Ho81OwZ+s+l4JGzKZFiCgKNd
          VUfErjZASIuGUR+ifiCe5jnRTPBgUCVhKoeyAyFPWXfe2PuIQQ5FLveJ13UO
          2ECyz5Hn3tMaRfI4TBp18lTxNzUndfnKhEwnaFZkqHWn/DUTUc+SmQSSJ8vt
          9SyVpXsvYiZoNUXXbrV8kRZRWq112+l5CPb75/ts3xeWfSW1rLsZDWE0VkCV
          wTyjLGlX5TRLTdU8KB5MR6R8l+hyZxGrl+MFxfR+IP02hZWXvsJcQzVXxv1Z
          ySxkMXBcKJ7J8gX265TDpIkTNBYZNKtK0cXOYljIiV5xRlrx48v8zmyQwPYr
          UW3ihLbR68xMwo9CJJHpblpz7clcpFK0Up0W9er0vw8M8OTgg6qQopwdzC8g
          NBs1bPz9nrcxLKUQdmPp9cHiC+04PayielDntMMUZROXu60qSYJTRZkfcbY4
          RPeKI4kwwr+u49WPD3tdnCVQG9Hy2HkEeLeAjb2OHIwD+WeFy7fV9EMNxzvH
          eeyGu7C8jeyfdFpSDSOf7Bad8cesJ+tmdhARNQzDEfg0uWLoi8z+mIpVWP+l
          9Do/QQHhhmadfFjeQYrbjY4Dbw/rDZxOz8tbk7NZ1qtQvWH2iABgiJ5rkqIr
          ZK6IKRtHtXhNwNUs/x1CK73yTkIhZTKFq5Az0DyiAukg1dxxY9xMAyGsqQFX
          s1PndOW0KK6uXdO1pa29S7S0aekq8ZdduodwLdrC6qEHMKjHAVg+OcCuptdH
          sNR0jWFuDpi1egZgLLnZWIQ0RmiYYD2YqrAuuSmod6TJcxNdVamtRFae05Xb
          xyLdoYJQy6AeRrjKTqLG4ffmuArBQB2RRc9zref5JrZ7AXMqGczF8Bhn3TFV
          RNPt1m7nEHS9SAAKtBwZbHcSLmn5kwoTlHi1QepE0ZH8mJQf7EIWjS2mpAyb
          rGZyUCAJdyqIE5UtM7clM01JVcVEL7mJMgYqjML01YQkUuugzEu2Ix+zk6YS
          sdA8OWOjqrNZV9S4eVlYYtOra6u1zVnavGBATWq7HCvHb+/3KmgLywimjMx0
          cplfWPA5fL52pn2z1nEM913qeZT8ucWeQ1+cD7+fe5X3lAAX254+XBFcZMoZ
          KbjTc0woomVmWN7FInmsrDo1djzmmWQUFYgF7z3MqhQWV02DqFNGIIX4mJdg
          7atr82kX7sNQL6JTdQ+ngD9u08kC0/7Yae6yjYJdXxim9u+mWULNgsWY66IY
          AeQfKZCJidOKPDWABntHKdAMXEBtge1X3oMJ8knkkw5g+lbyZoMAp9B1lMLE
          1EYGQQYh3+IoZqJBU5U7865swnzKGR0Y60qMcAXPdKUfvNg1L+yOMpmp5g/v
          WbLcfSXaxOVh9yvyLzDiOwr9EclzH5Sett/3+xmioN0gysozmcpOKoLF+0ye
          fP1uRjLFjPeLvlDssRyjzRPFUtos0dV8FyOtMWBIZzzFmuk0LdgwUNgVkBuL
          jROMkrUCLOV75lktfTP1Tj0npInuG7yE/rnP7s96WNMu3IeNPKjsFJaVyhzz
          +yRzEBPdQSGWyB1JuSAHBCuKg6FYzaaMICUqShHZHcAw/ilLh8vMxZZydtno
          7HfJxIXPN0rwqlt7taxhZrKpt4B54Xb3mO0eaGGi1y3z1FygxX0LRBHh5Dku
          UVhNIpPiDY+PXtgEm0LXQylcBHIOeXX4ZL1LtoZXL3Tz+wWzY2PIXgCTt5W6
          VqxgdFhLXmESqAEHZDi7itGpxO9gP3e1VyHX80ytYzP38Fnc7ZwtJrHc0wu2
          F6odU+4s5Zw9Ednb45D1QvfwMYOSau8Hy+liiJ/wSeGmJMW/6ziauq1QRBkJ
          pF0hXgHD6AvzIHd7X/me8UGIVxk9crmxLRsUu+LlzAq5qHKVaRZkW5+AUros
          VZCRF1rjlON3DOdCxfJzd7aOKo5kbq+ZYWbDNnA0b/YwNDFvpVMhWJGmundx
          hz/X9fZySbvlDpTNlF4QKsqVVWkS8fg32uBHu1k4fkJo0Hcgs7XPJAUz7KZo
          GrPBGHcsBYMUt6iORUfUnwy8Qt7PZtlXxyZPJZM7urqGO64xg1I7ay5f3Uge
          ETg+ySyU4fLBNiXmnDudvsUtFqaFq62HJ75uqkm8ZX2wlF9puvdpmdLuQT0J
          rkEFckBMEvanDAejP6yHBK0I9mveVfok6mfb96nQ9Oj4ATX5TMizi3piGkTU
          A42F0+z2KP0gy3dgXUMFSKWdQoVu4Jmw+ZK6rVR2DBOb68X67kkjpsodmYFC
          ZCwmf2yzl1PfJ30/NuIZyOMntKX7po+BoZmg6KK6kXLSApMv6cSa5myhyanx
          BLaVIYhXZiugtM7firXl3caHsxm1eKNpxwKAeLu6B3BUwetaPGv7BJixt5uM
          mI27YqXIzJOJI0QVAVneTHxdVcmsWlR09GywCgi+yEZf+j5PT8vD5427tuat
          smtfZ6sLxltUHvr5/spqck2oMeIGQCXBeQT4ZOH9iU8HQULJULwiWokujjV0
          FNJXozpC9GKWNPcheALLPhmrKMOLLb0RglFtdZcsFpVsNnhTpU7eUcR2GRsm
          KAAR6DsFWYl0W2oBM92kbCrBy4yLOMH0pVo/4xsUS5yCcvp1uJhEByWJgZQF
          J0dk0UgM1KaGk+IOjOKua8czEeAUi099eHBcvAesVuEXrHts1iRclgFjA9xV
          vWO5GfT2+6uTmDykY6cVI2TTacimkmphzjFhlQaPd1DegiQ5Br7KijHYu3x0
          EfIcqTnO8ZAfRZvAx34llucbQRYQN+NO9TZxAVbglUQGsjHjAtnAmmSP4dye
          5keHEK2SeOs5M810z2k4LUx01MmsxtUBnG7vKd/4LBfUZD7sYe3oK5U5Sk9i
          3ePBJ/SKy49NP3bhGB2Vfp7yBOiIvPzY9GMVx2DDQ3hRD4SkZdJHLGVV9iSK
          AjqQ1+fNPm/+Od72ue8gO89EuthNjaIK9q4nW5jsfxe3UmmD+IpQkvxckGyr
          GPOO8e6Kccw4ImP4wZ7tdghbPu/ux1r8PG/yvIjbj/F5dz/W4ud5E3uI4fMm
          vB2QTZyDHIgVVuBM+8Um4NAaopp9X5scOtFM6bUO1C3WWOVOnnbsuXaiL0nK
          oRFXV4j7637CjML9cBdzDR1Q9ZgBwZtPVjKJIkFPCSw9f9giVX5R4LAkCbUP
          4evur4e9cnI/ip0nniqfByYn9DuDZ2vWsPGTzQtVgi2q2e81T2JFXMpKJt+i
          zS/lUYmVqkjerATeWHwa10GnCBEV9f2gFLBk1Ut1BmwOVZNyGPWe7VpYfHIw
          G1ktY6l4xANiJS3/PD9TcfSkmevxC1CDYL/G250ul7AU6fIND6BDtGZdCgCB
          7wbrESg53qFMq0jF8jTVtzAelWhuKsbkhhByUlJYPjHcPoQVsx2rmEU6GbYF
          KFIeGaWmMVGVdYhjFczEwAacyTCb6QpnBchqs6fwvaePHn0KXwC6y8ruPS7V
          0DXKfEunUvx5IYuCTxoUmqcuL61VCQxV3UvOVQ9IZBBpyoEBF8909WQH+v3U
          +vY0mbrY2NG0VTsp9gKrO6p7GNWdXMWBgc2z5YEsjr3bBFB9qlV7U87BOb3f
          H3QaIqSb+ccmFSfsdLqGIXWU2u0TX7EXwoXvZ75oViV8wWvBBDvX/fdueZRl
          eBna6/5lt27pEp0dJpJl7MCiwXQKfYROfC3CxdzKg9kPO7UbcJgr38lCz5ay
          lz9+EsriuVubvBBkVSvncGe1y2AH8LZPgV51mPWZQNC7I58GYhRBnLNc8u6W
          kbRNYTh2Kr2WMnIMubdArE3yHnJ1MFzBQY9bbl9eSD9S86TUI1HHeb7BrMIU
          xwAHJw4qBsMvN+lXySI0B0HhSY2fzxYwyF2yctDq5e7m94X0SZMb8wFZioWs
          +xx1Xw8MPXJXFBGPHNeCx/vEjtjjqAe5M24Jk/zP8yAbjkDONgzye8OFCc0k
          3YdFqkT6zuAMLKQPMvm6hZkvS+zg76aUWKrwPakzeZbXr7Gp1hiTuTF4tQ66
          9vvtwUyYYz9ANkfSOdDYRqpCbWfD63ZIQ6NBxlw65tJcdN5CWS+2CSJkeCiD
          gBAsr7rAlJgC3DT+dhaw5/3exA1o8DA6GTVuxy7mmAlJla2ze1L9HZtf0Yfu
          JDCV6mQ/ZIxurB/z4fgAfLABQz+c3AzUrGVBnNfORgxZEpduYdboGSZqTFSo
          hpWn5zhZr6TrQ6mjqxJDIK64TwjsLMkoRubwnhbTeO+uwOxGWEEh/RwnDlJy
          btHpz9BkFvaNyErcGoO6BtVFJg0KPwwm0SqqkNmWBDwhpaka+4zzM5HQToJq
          /JgcylTrQXg29qXAtfH87YpGSJUlJuoaskmMyueQBiNEvCdzJgPNxj/OYwkf
          FXmmyZP9Y8OTmPS7JuKDNYbf9qG2fYO+7w6+gPXgfA+f77VGx3kmNdZsGCPO
          4zOmac/IwJAIobE+MkwYXS4I9iFBSxnpjg+heBNQWQkM3cvGiOrXLZUr3HL7
          Qk2ucVEreC+TJJgqjQeuk1jJ0NACvoeV8L14kyHl039H0+pU4SX7BO9eombg
          a0oU9d0kFgdW7fdTAwryEv+ckypzDA9BamT26mHZ0Vdwc49SXwirrtss5NLj
          2Lyszl6ng2vsDmlH94g7tYKFoO08bivpPI7MClYhsdZlRG5i2aOo+A9iOlfl
          SLDV39VowW3LH7CzQWH3rqhNESlyHpw+aCa3Xfhv8q5aQKgxRgfhdLO2sFUW
          rdCAEgIqLra7L2U31DNZSwXqGH0Xl9dk3hYsPo4u/BAoUMcFhuteMOL743Fz
          uwIk1826l2ZFJIVpM5P3UBNbJmGKQmH3CzRScHQYLnsYFcgd3o9ZQ7d5ymIl
          jifdrIFkJ4i7Qfl3KXuWqWL5Yui40LExhiF+c2jUdsFS2bGjsjgITJGJGXth
          EQZWuHxAsqmmTKYD38QrZcHS/nyesg7oTsWY2KsZO2jHA85NAMCe6RMhGWAR
          9fvzXb9e34ER9/P13fn6jsDY9PYKu+B1zvy59nh9N36u3V/ftT+vveD+K+Fy
          oBUNctW0w3gMjahsRc9LNMFhiOgJ1v88ias8PFgVYM65IDi5ggaPWliXSVDY
          94VEjOA8WIw8zwPa1kUs3cxUaKaMdjpSQYkT1+BCp1MgBYHaeWFU7dqUa4DP
          cndBuhE/9xTfZs1M7xOshhi6bGGP97PuBuUeWcNnxEM38E2LgikERbsDuk2X
          uLm0+8HLwdpghVX55nEdOk+tZhnX13tuWGhNhM5mbgT9T2SVUKwuVqTi37Tu
          QlD5Uk8eyRPMDKOnB8GgGiwn4fzAjDOEVnqTg5xeOzEDCRzVKs2xeHFO8Dod
          fhbHqYpc3YwbLGGYvWn89IUw4W7rhYUvKmjBsyvB5jbo3cs8fxcDEJUKp9X6
          xUBpd1yZub7GMZk/m6T7kCNUi9w24tsOZS3N2i9yCPcLXF3e7jqJ0b2xjet9
          cBBCF20Gj0rU/SG8H/o+FjtnFUylKdnVt+lIhk1ILD2CSaSRAoiIC8xkNMLL
          blat61EzhU3LsSp2q7E5KaIcqHwFmBkihUy1cgEv3g1gEaTR1LZl2uewPg/7
          XPzzxYYwhJok6iTGhYWlX8m8iYFRPqs81r3j597yfvo5LVk3FJ2TX+eUy3Ig
          iCA+BLFLAtNkh+EdVRkwYnJSN/Gzf1rvSZxkB/B2rxOI47wtRuA5kdRr6Red
          VlqpBiU0K1oWeDjRN2ks04+k37MXMZ1IVGxxaLcRbydUStI/c/Comd2KDJ2W
          O0isRs/502t0GNX/ZP/TXp8syT2MSLiDLVnR8XNWzyHsP57HidM5LpOVHz8l
          I8/5kpGMyZp0hvQLypyBOAjHwijMApxkLWyMamFzvFLVVuHrEHaEmlzvw8Lg
          6s5JeExl2zqAw6YA2HhAMOMyaX+uFe1aqpzya6lKN36uA3k/Ym3xwWy87VpP
          ibxaSIKWww0VyRDNoNSp4fZ1ErP40yYnbN/VSsdqUMU4QKUsd50sRIvBVabk
          41m7rvPEHjZrcBUuueiVqkJo+nuhkHgG8ckttsmt6Nm3sgg6kZK9NCqa84HR
          JToflLtfrPpWjhD2F8pWRewZwTkz2k6XKrjooUDKp3NpVwI4+Cl20rVZIgUb
          JNbNahUjvVzU4qMC9zqmyiRVLEEnnW56UYN2MKzEolAliTJ1nSqvagnkDVwJ
          oxvYn7RuNahinVVme4vkx/k9lMPGxGc2qBhBaKGwBIzAuXsmvieHmJLH0fIk
          Nm8RL/QSOma6AWTwWVl5bc/O/UX8ZLqAGHppTOOCCvvxAXyVqP3DGjDeAO13
          CmrFop6aY5AdwdHElohbYA5+WQCcV8qdie/rchqpZR0WwkiARZVCFbEF2w6L
          fOGhZzJgRaKvnovaVTrdDE3sTeXKOqJzxKi5q3LW8IYCKTRZyrM3g4J4b7hO
          vgRdpO/D5/svuLTDdsC4XynnrDiml3OzQtaLBMKgSjGzp1gRJ9Mbpk+KCOja
          7Fo52i5kRFLtYeP37nlAHJ5d6Hl81vk7MYqerAUuo4F0Cgl+Xt7GcLLdamPY
          mgtJkRgEvKCy/f1SEU0ZQjKn5w83ucPTZbRwnPiszSFU8eYgnWSN4YG3lXDl
          ecJISCq26clb3KqROJ6RwFVR7fqkI1CLoI61rbI0ryY66XmnOZZUcjWMzchH
          H4y9QBHaf0Ob7wzhv01QcILkBDGz9pmgWxzDUEYZUdzlSn0mqRjoQrgsR3CT
          +flqhE3Rguur3uBibv75GWffNM6HnT6oW0yjei0mx0S0lGdM4mILXOLhYkGW
          HMyTqKqowshjL4HwMkZ4k+hmqv41v8a+Mw+gHfQeWY5fU8kcxRszzWR6etx/
          1SRmb2S1TMpdoTzmWdjx6iZsy2ZqNjc5H3e9i+XV/xmjBcGUor7Qg+4JQ1jL
          6/NlnwXx0btFCi1Ohy9PL9gk6573eXlAZHrwY6d73YMf0YMfNwNFfmz6scRO
          O5wcO2/nsRa6zLZbRAkJwFgE7gPZdZJ7TSE0DCpZQ6IhKRPIWKkVswQS5pyf
          Bd/aN2F629vziZY1K4iRCWqgjPGcMFNjPplEwZy9cDIX0LEQqFRu1lam+7HM
          4BeODetzRJP0tGIEA6MMu/UbpMl5KFhId7NS2yopg2aqQNvpaS0OCdOb2s4p
          I9qDbIcHoqhUdp/37PPelQGsPMzp59pxw1pg55OJ9wPXrZzTokIfLOVYvQre
          qOXW0VyVWJFuFiMB4n5Sxljr+cimi5RlU0UXDDRM1qzhM5Ouybu4xvqOiJib
          yd/pMu7SK/MublYMqlHVW94lRxXHokQtTrSWca282qf8tHSHAn9YPwIDmIDF
          ygDLhAhjYdXJ8QbP84Ny0iDWbYGGoYUG9uUebPBqr8NfT7zWkk+ItCvwWZrh
          BizwyDf32CbNW3pHct2ZBaz0mbbLv53V3r6S/Z71hm0nayc+aKdBEb1IpazQ
          UmDR0Sr8hKavqm0WwJ7qUEAc+v0ReaY6Ww9mIpowxfFdG1B9fE3P3/6qv0Wv
          vP5Tf7MMYhg7ShP/VeZitMVduxF0cF4r9cpaoHDHiMqzp1ktcaJ7sG0K3Vxq
          y6H0rO1R7l4KX3W2Gsk5/k3h0+LYmDCOkeL/ncKnUndCjEHXUaOraQofPtPA
          nvg+/ip85IR4DkXkmeFEAAhT+u6NZV1L4Rv5nnd3hQ8CR0rvbpVDKVl7nDt9
          0tf/bxRAdWXBfRm8+lUAw98UwKJSf4seBulgasmn6K9VE52V7r5/MgFbXe5O
          c4d2d58qb4Oy6PwOEW+HgUP8yrzVc/efFE3urMKK119F83AMvs0qcSkO9rf8
          P28THbz+bZBvT58k5jQxO+k00477lj2B86qTZOLr4XgDjRHzFnKG0Cq0+cc8
          qP1XEENkx1dhAV1Pihc5hFqI0E3Ciyumct0Mtp8UDOwiajgH3aD2BIItNPoR
          LI9tU8oc00nVSIq/vJjAGhk8+cwLNd9a5eA5I7OpyZGCzjnYaInnMO1YGc+Y
          2UEj73ROeDsndNyi4q9Dr8n8AmfjXVWzQY8XnkY3K2TqkbV5GN1FuNXEzL3B
          /Pd+siiBJnCUjcuIX4EVrywdgRveq5nVKzX8b5PWMWnEOxvfE3YZEurFrNz3
          hLEw5D9NGFvNxTVh4e8Ttl8M6/5PJ8zniHMDsuOcKKATlDVyBPY3Z3Cn27zM
          9JqX9JmXeP7MyyqGFZDX4JAPJleWzeZiOPinCq8MLvpmBZT8G/7MnWx+qjDV
          nvO05+zZcwfGT8/kYs8ZXRegJw0rLIyHmf21++vBSa6jX2q8pc6hMlMUbcKD
          Vjpm6OE8FKNt0B0UTr22zwBrActq7elCMqT1/2USTp+E63sSyu2TcH4mgXF9
          OWf8Hvn4+yRgx/99Eqqjilf2I8Vz+2v3V/a10PNS3eGiVnvetH0/L5ZXWMDv
          5yW45vt5a/p53p/y/HBZsQevQ+uPGKEiluAb4VY6/FiOKOcMVPrwxC0qPM7K
          dsYAdyfm5sTcnJj9dfjrKT/eYRnE55Aw5aR9X8QnKfikFH8d/nqyXLUNSP6m
          YhKYSPnaoUHsKrlmzJUwotcVWw5e105Rv3uyCMPQm9f64xzqKFNyfdoirnPP
          bqXlnMzAyXylrgdVYpgnUYSUaIRYZRBzEcQV8HtWJTPBhJ1PpDc4rA6V4Mwi
          kCQxdHKhttUNhekMrHzqVvnUvfLpCOoLsRW20ATpDG9ccSaKOBBF/lznb7Ke
          ZqkgdFZVVI9WQtdtvIOKolrUJ5XF39VT2KHagJuwErnTqSZFm6/zIzqVpGNN
          NAhnQeW2qeFX8D7NiTiJJGhlNIfhRiENLVHdkR2tgg2aVojUu2Yt6PPhOoFy
          KuRPcNdqum9i202hYH8jcR2evcPaexY4VJWnM1cTpBAfmHeiQhzv77YhLD3v
          WEZu9EnFZjmW2GRTGceXU4fEUXezp2P5EIkaOTnootUdyGqZTxZTted/xo+x
          syF323EOPXB0DxcHaQjmEWRfRMLMGwgGzin3tDK8GKlnFJqDwZJd/2rxsPdU
          Y9l8ORTRU98DLzVjLgDU1euw3tEPMrv1c7qXudeFvkp2nvv7nPP6nJOZ6+VE
          ou/0ey8uP3dlk7xsx5dnjuYpe/8dTGlkPlEmVIBhDZusY9+B42ZS7ksRk488
          yJ99sVJnE1glZCh9Dg0KXFA4fByzMpEziAMQa1f4eYqOxVWbyDj3Qa2av91u
          5eCpo8h4YQuyGmkHQxWk7GbiJpjHk4u4saYhyDdwnJjQL5a8mW6i32RLrhD8
          L8YLO06Ns3lv1jhGVuSSozFNnLn4e+krUKRm3xARPM4soXP32H4gEEyw5IPV
          aDiuhR2GdUQ2Tz0kKg4w3qgqXHzOP/MqCVJ9rHv+mM4WYLs2r2Lud/iTcMrq
          MUFTmyLdEMfOIylSxcn8aOH6QXpRWq7xrW3zP06SZfVlQq5d2IwMr40/Bmgp
          1WwSdiqlGq8bC0zohTygRFHsEeJhEp2zMysHf8zKgIAcqv0jS8vsmVi7lJzr
          S48wRcqqdrmTFesg4hbRF0HAFcomc/mZL/DejSRO41KMpwlNhBXSarMSZQaP
          9+8Umca5NO9i1TU+IBHG6aLMy90cbKEJ6Eqg2WkVpqr8a7Bl3BfBsvXtIlhw
          wJEUGHrpD9nxAQjmx+KQ/bUBDm+f2xwmhwGxpEbZhjLKupfmyTgXg2V45VLn
          7n6Bk4FltmQDBXsmzHRHdPUQJ7PMlWnj0UQavXxI2MSkDSyewr+1MAXktUtY
          GHd09kVg4ob7B8KuXbxz4qHFKJeQ6MmvXbMVOZToZNr1PR6K5la5tQPueJ3a
          aQO/4fesbGJRKz2Pusahwk2WstuuvALkqF8fk0JTmxnTN66xQ6HYDQ4GK9Ob
          ziehFOkKgaX00vArS8QG07pwE8LOVzXOkIUxbvb34fegSUHE6DeDRTn0LUSq
          WViosK5nepDqAVk3QYg9Rf/GFEdkWWMS0dzMECIR8hl2mqvBdQByDFx/MNoI
          wtktRmBzTL8N+xAWWydoBr2Xq+nzZr+HZG/LIriU5bke7lYRBat+urXauJmz
          0TXo5AsUP4OoycrRv6JdjvXT+4dSQ7eO2zkJ41dNohalBl0THLjjIaIIKBL/
          Llm7WJZuGLUP4yxENf46nixapmIbpZupd+J2ZvamIvHZYvbTnidVq4lsj7fy
          xuN5HwZI8E16tqGHyKrI92wBcvYU0go9oQoJ8/NNfIBYWQFkQNiTLWwNG4yO
          LXy3PXpCVwMqQxbzjQLF9NICdyaYuhh0IIksdFFhJZAL8knaMbDZDSt5LtlO
          6lcImnrb37rDbAbrv58PFJ0ypwpIx0jgZnjQMoVpjk/2LG5PW7Onpy5bnFkz
          pcgGia2A+eRJDUYsMMxsTSgf+DT1I67jOL3J8mtwT/2cXJaNndA28TmHUN3y
          ZEo0IbX1KpkMirmZd8CED0dCL96qVcEagZswJp9UqC9AS3kU3U9+mk7C8UyZ
          ds6VWLrNqF4ZuzqgvRpK4lgiOBVOVp57z2HUqO6pee3Wy5JN9ud9cqJuIxrI
          Y1v6AqNCQktWCXwZNxNg+g2FcWzlYJ3ArXtyp86WvRaTmjc0G8J/0gNAUKyk
          +WJqCMgrMNUuz6bKQSiee5mJdQ3NOKc2AZ6NVUyYcia4KR0v0GFoXOASZJIU
          lQ4mdbPmnRA5dlECMf23F6USp+tUuw4bLej8GnpT+9cBg8gbUNjiXWvxGuPz
          t4onBDt/GtC0iieWO5NVgtv2EU9LXC2PZPUaQCHUyJ1pYn01lVyeyuGgkIfD
          057++ZwLpnaIIHR5EkL8EARjJdwAWR3bubhDwTVGSufegzVF1cIZNLacLkIp
          2xQ/aW4KE2YGs8cWlP232ykbkrJAVKW9jrhe/HP3z5Z48weEfWMVo6G/Hsq/
          F5yNYzp555jNm33sVzO/wBUizaV99dSV0gANIc9XE8duGnbu3kP3BYIkEyN+
          N53yHnvD0UsHFRZOjJQWOjwUQoXJSz8/uwoujVaKGFm0sm6O72ZZXAhh5QSi
          b797BRRPej1VxMFmwqJecSsWoxC7MGdTCiV6sk9GtMlo172zXI55f6wELkPJ
          IoR4Y/q3lZn/rTztJNafzRO9qb9zltkcUzqPcYk1X72qscTXAmao1iwVYMd0
          snX2ZjKFs21s7P3OoVBWdPe2tFKs/zI2Zja5yT7dt1INP+JU5RHNWecCpHFc
          y7pdrAiZvFrRbpIN0cO08q7CUnX7FBK4EEmsA7naCDHiRtv5ylDkOkxD6GEE
          U7Cy9KQgg3AG8bnYghO7kIGbTeDRZJeMzzR27TmKMhE8jM0EqeWhdPcus48V
          eWSMgoGd7sWZ+3Zds7OCpV9CTmewU+DVDTr4FQxWX7kJLLWxIEs1M6pLwdsn
          eBehbJ9NQK/mK1JH58vCSSbimjt8ojx+CaPP+cC/M13sKHIIU1nHCo7Vwxxc
          3u723Oz1ItwDQ04eq1mca3G80K2/4+l5BYsjLkV+Keyt2/lLkW8e2ylYeRVk
          Bb4mcw1dSa6srfqX+bwEVwqNUa/bbq+tXQ+MqdqpT08gZQ5czdKMCSZDtBBm
          CjNDd89+nMQUvY0s9J7smccaV6qDWnTxLqNyKr77G/sCtFcLGM6DtawxPSLt
          jrSRxC43Z6NUch9WW1yn+WK55dNgWqYW9Yxkokp6D7N6GI7GVQaBJE1EbUt8
          TXYiLVLO7sE08P9hY8sBQmHjFYwb94A4jWpUzfHb52Cf6aEkR9srvaPKjg7s
          rffmJE8Sz+qLXLxTqjXOuFlcg7mNRa2DTTe5nAtkVnPRLs7n50dgj/ajUCc/
          k756sEJKiYpugQ8uzkG8jtsUxYMF4FnlXj0phpdZGaHdV4cwBM/3RNXtP0+U
          fssYugI+7p2jbn2p4dRdb9upYfnQedyigYW5/Oz9Bxu1XrQierHEVUzmRcKm
          XpP/L7qSBogVltSdOV6VzuE/5XI5/1k85Wi9G7WwgVE++cl3otxspzCPJDbk
          wAkCrgouBtOKmvK45wKO1R+K5T/KrbDWOccfDa4La4UXdvI8jASIAf2TWbLk
          lthfM8rjDoat9NX0mb2Mp4uBC5SpbJQ0h3zvlKET9BsMfEFYhEw0Oa0XED8z
          CUVNhJSx1OWyZUxAsGtOjMe4WYypijhwjBA9m/Y0EH2x7VLumYfl4IOUL4gh
          tXh/E8WVJVvLpoYC7PukyubHjYvfyPP5V7naTmkecqCF8VQ89b5Kzzgmd+fO
          kw7jEc7TCmCFX6C+jWB2TT0DYcNPOY08rl8UlCeGEs1ps2hEsKNkhwGel3zz
          LE0jwOkPMTJOqtyTdB8dG2sPV0rg24xH0XFrDiqKKzXsWGt7m2voUkbALfDm
          TwCmsbChhLZy2m7PH3hatp8rpfxblq08gqWdL9m18glWvsHKP5iHnb9k2W71
          JZvQSW86G7xps7Rcyv/DWD5L0PZWl/uTsIzK18O+ERcg8ibxBfe8HyAcf+UN
          9myvQvWWguqxEaWw+7juy2Tqb15EPfZJxqXeyrLMhe8BbnIlgTyc9rqe49fV
          jumXq30uV3sXdPy53NfL1Z48prETFdWAsbVBuMYWp6gnOciR1eyCXsqyNgfF
          bnp5ehUbqR4bYXe4LothEuDOSIBBJsvuIFz3tux6wvGMatrp1S1X/3Y5LATy
          NCe4DG2gvB5ssJIEZnb8W0DE3MT2oHQTM1YZDCegRcknRrxynEq3yl59I4WT
          NXLKgN2bIG5aUEPMkwobs3lY67phU8JgC+v7SUdINYRyJp2wpRyRPnkMv9s5
          gcpQIOQa7fykaCe7cBwnIScq1J/KbA1iwzKPoocJqYprYfRgweR+1xhXMJd2
          tOpohtXBs+UCPqo1qb4EDCHQC+I80+yPVWlwAoJwJTjEGivON+U46bv4KM/V
          lWeMKCbhLaVHea6NivOV2fiVpXbMlauE/oM5r5xM6BUHi1sJ6qEiGbpSqPA6
          F5DvBw9HXCrBlSlEO29idiSw4xzo4vQf0rNGiNk+lSufsQcamCmLwDamcJMS
          SdlXclSy/t3g6sH7dYrkuVu1ppAUEewjHDzSRsIii8713yNt5fqXSFv8z5G2
          FRxT/OPGOIIQQi28G5Qav6u6uGflJAjQitjSl4WYV8cyNX3YZUlEmV1EF8v3
          MXd5D7mwUP0yR0m0aEHjsDTtSenConzPVX3S5rXjL/DgGcM6fyuaq2+FsLo3
          sGsNb3IM4jpVUMzcHvBLdS4J6bqcBBgWOwX3i10gFzFUpkG2pYSPy/vqTIIT
          tCFI9HTu6WUqBe9bBBPKvIwnkxUy49o7HRk5yMuofHhpn8yPo8urV6uF76YY
          UaZ/VeAsz+HELirySRQpUEzUUOazuYcVp4CmIwcNdJJfoGY6icXGp5lQy9S6
          /Pid7fXXqSTl03aT9A6/X2BbeaKiC7U1xE/7u2yWytLKy/go2GyEuXkRLa0P
          +ioqW5FuQgRToSv1H7XEU7xjDv6O/YT2TgAKAUgS5EJW1nHckqoWwP/n329c
          X7xfutVZ7rMmyyccbhFYBJ0LOhRjngnmCFh5Wj9iG5SsrsaVbLCs4ywPwO2U
          JcTiQtjrWTfd3RcNTk16JLEMA6Nk84Nr9dfbLS1KIM3Y6Wpj062/eMAEjyik
          8cp5DZQwm5VPEYSUSik7l1FNv3brlErjL0Dze0weWjlEF12LkJM/B9QlTca8
          d0jEpxcyBMBj5cwAbndRGMr9TX99YcHGiWdTCjgXuRqGoRw17ZOPWGOn74K/
          hdZPf6dnYh8sXethjX8zaPrk8ZV/dqy1j2ONWSXkcHUz5ZROtPDTOV6/Tac5
          0ixUL4+l5WAyPdMca1CprZromnTigoJ3T0nerDnCzpTzMlmkyZZfQpBhShTZ
          SipsrAMOXaWxq1N5YScNj1QVLoBcmobYTXOTNjoWtlHnZDEG5yjj4eQhpPMm
          WoRrV2q2UfBJf4JkIj5eMJbZpyiofN2aTdg1q6KqWHh2cxAWYmHjJwJKeIyB
          aB5zQj43qwX05yGrpN8vsl9Qk0mb2eRJOYf54wKPtMOTgCs49zdhXo9NLlir
          aMZj5dPiASowIbegNMM9g8n+xHiH7k/rCPdXx7DjUeZgNBmOwkEXTDKCJXcV
          xE2VyLnXuYkWU+ujJRFbUe+Ew8Qj9CcsfVe4eTf4eoic66+/yZY+eu1qtnGr
          svcod07PhaA0MUefYs4LRRObRjJSl1wWQj7dsfdQeZ/lcu0CS7zk52EEAgvd
          k8y802rdz2OJkSRwZSLOu/uSWTz7n/7v5QwyVjqtTR4dJuZuPfyYQcQXYRE+
          BFfkmSx2b+YcOsfrxJtZHCIQynNT4y11U/bFZt8FW2yoO5s5ZMLP2EAtx7Z/
          ZDQ2ylAgyawa1vhMgV6ACfGVGhtfL3/F52Dtf8yKWFbYR0xZ5dCqIIqHWVk3
          mJncKn2BZrg4u6+hjK9xqf1ELvYZRtKU1ZLsNUEgGAkctDhh5NDt4CdV73VH
          dsGm8EuRql227FZ3JXXKKKrtBdXqyhXPbz8LJ4/Wz+KF+b14rT6LZzsb8rRh
          R5b9tbOD72yZWHadCwOXF79+7+Ya1eeAaP5Z27WDQwmKRc2f1KaedYX0FKp1
          FMVyEmAFtCcG8Z0TjE1+9WopVwLbZCIejy3fAxd/L6boEnthERoF7XICZUNk
          VatbiK7Jep6V0BqnVSbVGeYh+EECWVplEktaC9TjPlnmL8uLxEyb7HFoqaBm
          Xsy4nqf029oJqRIJVsme6yrCyRK0ARSk37ouQMuWTPV7IKcNBHvg9IFAfwmT
          JtMaCFGgvBiSNttUp87NNFw+8CmfvHkNN5elgWFjeuz8HJDmXPKXeFfcZW9P
          2woEheuVe0B90QM/c3eQ5socOtvRBZxEOxrfES5nczhacSK2yE4KAKU1BojC
          sd7P82vMmWNma7j0I6vlh6BD63Q/BLkXQaRg6rGgjq+Z5XPH6ipmfofofRDv
          BdE3PCnHYWyeHe7+F9xHKG/D/RGwEq0vInF9uZMDePhQi7vHD8EYj7K6hjgm
          kdc2N6lZ83Ze3ucRvzDcwQtbiCp39N25PHiYkFlZbcZJ7oM+a10gMrXL0Cu2
          VUa1Q27x3ChkDD8XN69ctDZ07RVg+a8HieORJV8cA5uFHXZNprTXbucxgzn2
          v4ynfEqvNnVcg1Jw0Q4vR4B2T4ByvM9y2U5l6bIUW2ydCpZQrumQYYuY/o+l
          bmrYRUuKSaQHm3OwBV1QlbRUbOyK0XvLT5TvtDrHZv0W+ubNq1dr+nAZx3Cz
          VKlpg7ByqeXH2bMp8rqtBmJHs3Y4/A0Mh14E8UIcn/5EJiO7rGdTKEPgOGHl
          HDF4k7qLdUkqaV3I38u04aB2lnST4USDceOxi1m51AqI17Nq7NNqf6b2J4Hn
          lcvAK5+cQ88o7oEIJp5IUQ14sm3eIs6dG3isy4o7yH9MV+BD5svy9uUh6x/3
          b+/3OPlQswx1NGEvRWbtWO3Azgwe/z4QdPJerWi90yqOBcYatotuCoOEU1dw
          yxDmNYVhsHlzqC8QCh//phZ3BlxJl9MaP12/a5GCj/899gLdYbWP04JZmPhT
          JMsUA4JP5c+9Lq5LM2Rx3Oumf1hd0oPwlJUBxbI91hASikaBr6kO1AKvtCSc
          YPkCt3DzwbNCOFf/Ww4sVSlLhgoV2yWsXSo4K9z7wtbDXowlwQrmPmHBNWFe
          6C0U6DpLIxwHYNUSMqMmqXaBCWuPPFuVumM3eRZOyLMiMUTATFXqDiVoEr3I
          bOsQIA7eMvG0a8zTrhE/MlHXqPieKfXhZFoXO0+wDBivk8DQBMdOlhySh8pq
          acOzQ4VyHxmOhiSHwIa8YtEdHUaeMxG8lS8xmLgYJOp83yICIphjUMqD2G2B
          d8qH8ZeCGmYc3pZxrXB0SVDOKScyg7f9XoWh91nopFqOKekjrGu8vD0vR0St
          biGOqvTJnGfqJ0lAUtMFbi2nMnz3CL1AQY7D27Bbi5XNHqhl8zY91Jpuwouy
          0x5TfZ7z7mEPuTJgl0euMw6x+hd4ps/sNKQ3C9crVpCEh3Bd9hqXM8cbWS+n
          zkJC5bX3+Q+sGqfUKdPrEkd7dU8Tp+ucS8zR6st4GYLo84yX9IRjpWdRlMgx
          xnqIH844JXr+5IzKhXRLyVn9FCLeGgerg6kQpyT9hufQPLNuorhHmmOJiX6Y
          x3IQPdX7Fyr2QMgZBWIm8w+tL8JuZq01EhuqAEnJm346KgpVaCOByFRLNXce
          ipEv1M2/XSDaRTQ5lwWWniTMYgRwWQ3csTJWxnFPtq+FQFSeX3SqvU+iz95X
          Ybsa26OGo7tZkOetN7B/jGToJu+WnEvNO4VRlkr8ZPPeKTPoEiEoZu6eM/k6
          OO7IKF30HMU44vs7dhohati22uFYF1J9N9S659p+r1cydKYp3elemyDtVje4
          kkuGoNYtzX2f99MIdGcncUiuSS4LEkuRfoNwUideVV2C3WWW1TDYvI2c8TSu
          Rmg9afrstzjol23qbrN7OeDtr6k0mvyX+gUXQirh3AahYSgjdzqqdLWpMqUJ
          7jkb2x2qBn/66+WvUNAgM2HN7cIJ4trCfm1Wno6P7HPEZuBE1Q/UsdpgQeqk
          y3KooxZ0mQgpQbCGF/tu3MX7SwRA5TvVz0+Ae4J161M4fMcSB0oAYRMIJnp0
          4kh8Jk65leoCyhhYlEs2UBoyZIpn7f7KUoPb2tdBh239O3mkqZSW6IrcJlcX
          IijbkhMAgo6A2f318FfcT4De2X/LLCpGXw55AxMBI+99KDkjqQk4iXjhLQSZ
          mGG5opXrlwQ4adVY0ptGYVBIbuXCToQC1hxCdWGnn12p6BST+/uccIK4L8aP
          XteDtW8kkI9gyN6jrB9cCh1zNxBL7ftiAxcj1cvJB/FCqmcFa6gvtn9JbMyv
          RonNuYSDHWwEE2WSr3OLmxoyo3oqouSuZkCV/l/5G4Q8QsVQppWHnlea1Cof
          q25i4TfZfxe546gA5pVtHGYv2UPOjKJ140okJnGCG8oZURP9/iqG6HQsyPyM
          z3jUYjb2K53PM7C7u7p/vO/nJXDW5RX62XlkMznHtu7N+x7hE65XkwvCVhTl
          MqsDmxJd5N1h35izCAndAj/By+GE/abvdv8u23dsHivZnPDdsH6G4tDOBYow
          LU+CL+ICPKl+TmIvX3kz4lkWa+82kO19jNgA9fdYkE5wvI9xNOkdDcNkiLBu
          V6ZWu7bqTij6Gi85kXbJ+CwTqaxWbUtXWPb1ypG7Xad4ytrdQQVzg1B98hpy
          J0Q1iE5yjdPxcyfzGM7TkMHJnQjnT6wjvN9uKI5zFyaj4OvoulUL7cI8x8SO
          IcR+06bB+x2snZzTTL1bXdRv977GSNyjJOIfPIexKSKCsLSe5RYijOTzMqyB
          N+9xrYRUNc6OympmmhytAWze+cd5DFUvC8yziDkWSjUjgUpbB4Ogw0aRK8uw
          xeHH1y03apb7Vhk8K4tI3Y07dWsL7DCrZ/Oo4bUyaZuSMQ/ujvkxBbFTn0EF
          AUyN5mFTU0Bp2nGggijf5DPggyRW0kbZyZ6xlL7dyY92Td2kyzEzhJIBy4d1
          CsoPEJomOXebBLVqhlBm1k45t6NgfWAjtWSFrHQ4dRVv6N4Fz8Fei0pmyUYk
          yk9kjx98dz75ESw8q2Ckh7ShupQxzolK3yobqm+H7N77VPnuispChDDsbLDy
          9VRsAfamHFE354Q0Xg2eV4gvichx9vtgv7fUNXUwVd1AUhs32EdlZMwkIfCN
          BBjOYi89mhyzTJNPAnukcgHeQPWZgwm9HN4VTDct1ULDDUYT3l+Cmr3t4qXY
          9WKrnThroNhEEybv9hB0pORBdO+cOmiFrVihUihGS9Mzhzo9WhZUdRRVkTQU
          /cp2TAinlRU56nscH8Sw5m31UrXGWTvdopid1KxzeLL0aiWNsF18NKJV9BH3
          xyMdxKjYGcaj0qnsLnVs3bjraf4JmTx90sMVow9VUDjpXUCSVmJrYxNXJb88
          c+KFn5y3fdIYNdhZbKrOgFuyZFJqIOwge4pT7Oo5ygYVd5D2nmVOYcPNZREV
          Qvt6V1NuTIW1vaHXAqSG8jiZpWok0NUPvUARYMiTRY2TzgvWyqtsKXwnfTQz
          7/aoprxepp29PJwRueTatMAnrSw8GjJI/odaA0t8rJb42EzU7N/hT6/1XHF8
          NxFHo4bzaYqxme/mCbTIE90/cK7RdQa2eXsXnSw08uqvK5V7IbFux0p/c12j
          b96MwwqG52HnsU/FEj8SPWTJN8zmi15SmzuWquPzw3FJJMm4g+ahTBXN/umO
          FkfDBjqVkHMIab3JDR38lXKQ+RnBX7et/bqnD7mZi7upp4WJboLmM7pVLZp0
          K7p0NXtVm9ThPm23w5OBGGQFPqanlFGO9k99/iODi3sMaX5l1dFlgk5AI2MD
          jJ0OTcbS8dteU11ZLdvCIiZRgIoNXCuJzULn+g8s2HZesN4LFT/+kw0fF/v5
          /s/YMOsKdzMP+y8bvpRE+82G6/EXNgxuyAwIckoG4AKtHJiYtf/Jffms9w/n
          rdk4LzvlVNYtkANffj2ILT4ynxsig37O6fMJFmOcVOiDdj0cWyQw2YiuzrKg
          1oM1Y+CikWWx9p1mzGLlxSeiQIMHqX9YeTBWLh3w58ZhvG/MfgWGNG5Nql/s
          +/4X9l0+7HtvgmUzwnI2zoxmaThh3FNQQ76gxIykLwL0RH2GGcoETJzO6pXh
          jPeY3T3cKeXNCQw2gIgy1c2PScPGuFK6VlKrMBt5GTLozr5K6ur6D+xaeQsv
          dp3qv7PrlIwwJCLwO9Z7Mqy/ClGZ7Zw2q/9kaxDWfUJEgkk7xqEfA42pUQWP
          MT2e9bXco836EcBMFYtbF2IClv2QcGw0rE8XEWwXm1xEsCduMqwfyUewcWL2
          fuQjvWmtWu5kfMlG7vD2LReZFLJbWrZy5JWIaY0fVSa6KbpHUCdzYMhsYm6g
          s/MlJv4T+/9PbD8Vay7xy/7PbNnRZTO2rzzoF/u/vIv56ZUpDPz77/R6+Wv2
          1yUu4vktVmRWEnXtqdL+1CQoNkBnGvMBk0dNDRMh5P0Rs6xvA8e2eXFz8P7k
          FmZYGC6qKdnDaZXF9zGkcauMc29mjnnxAjNe4h2j0MWhUcOIghWC3cb8ATZr
          9oegu1mvC9G708bDZj1u6Ip3J6snQPNX1zKWn28fJE8BXhLDfyF55mN3JE/m
          Fk46TgRJy+AOo4znh7CsMzoLoTfcA2M4LTtYXIBgE3FTK5q23LnJE1iTIXeR
          u/Qhl/d8xz6aT+pKykgvlHH9vrocL5GqDDus3GRdvBbU1cFXhsPXc4cXJhLs
          +g8m0ilROMN6JnDO5NnVw4p1Ogi6sVklxxxeCifDHBjroeP1ddzrNMn5muE3
          61qwaPtUXyLoYBYshhDMFplm8Sc7T0+cpEwXdQTzHDY2b9hVls36e124CuWL
          4k2Ruv4GeYKte1AG0IPNFVBS6mZATKJWx+a9vMdx9Z2UxubYuu3pesbWMBx8
          gCm0JlPK5GUPzNLNzSYiqVmzQB7bpvg95pp9fK/7U49vLWv8dw6iuRX/nWvv
          2rLrt5v/ll1GuvkdqiuGqyfzIvzwwioKLR/B7yUfxOYuZ3omu+VTVksqBVNX
          H+QQP1m+m1rJMZDM1njsSB6EEYAlMEthu62tb7TGGHRUheB5msGCRYrCKnmV
          4W96EM3FbcjpGBNIQLU69+aZLLT7GZ2KDsNK4Kl/emhVXaiNq7dydcAqdj/v
          Bw16b0DNHffg5vjiVfUiYmJHYJetrXivYlf83MyC1b5yE0k0ZgXcWGSlVz3W
          wsFUKWuPdV/hPCDpyj9/f3Mh/uX7s5f5b99fx79/nxkr/bffE5TzX74v3caX
          2U/YTiDkzf/+X/8fVzsj1w==
        </data>
			</dict>
			<key>IOClass</key>
			<string>BrcmFirmwareStore</string>
			<key>IOMatchCategory</key>
			<string>BrcmFirmwareStore</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
</dict>
</plist>
