<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>as.acidanthera.BrcmInjector.0a5c.22be</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BrcmInjector.0a5c.22be</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0a5c_22be</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.BrcmPatchRAM2</string>
			<key>DisplayName</key>
			<string>Broadcom BCM20702 Bluetooth USB Device</string>
			<key>FirmwareKey</key>
			<string>0a5c_22be_v4325</string>
			<key>IOClass</key>
			<string>BrcmPatchRAM2</string>
			<key>IOMatchCategory</key>
			<string>BrcmPatchRAM2</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>8894</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BrcmFirmwareStore</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.BrcmFirmwareStore</string>
			<key>Firmwares</key>
			<dict>
				<key>0a5c_22be_v4325</key>
				<data>
          eNq9vVmC7LixJLqC2gsxA/UHguT+l/TMzB0RzNQpSbfv6z6lFIMzCDh8NHf8
          fcSD/zL+xhP++jv2w/6FA7/q4L8cD/7vPsNz8crH/+FntYvnccTGR0X95DPG
          8eNfuP76+zntXA4BV+XYYn1qqLkmbC++pK5WamkZ+w/+v+NYxn6tA9cUPLSj
          XceRytI2tKgWJL2i68j0L+ojsa3R31879wJ3F/Zm8vuCnz+Pz5dYh/iNxbe7
          W/ZnVT/efLv8QZefj348+bYONuXGN5SLLThmzXe1t/Y+eo5lppRTefiKtKJ9
          KcclPw13zHrzShuXhdY/6Yh41lHrkdgBC/fd4Yj40gP9k/iFCyfuiGP4rJJw
          DG9e0a/D73wfKeM9C+26KsYQ5/LEsWT3rhvHhnoj5W7XLQ4iziVehzYtHD8f
          HMO96fRjuOdcOIb2p4bxYi80UUCISd3Zj/b6r/p/xf5bx4Wnjvys4zZ601jc
          NpzpeB3HmaqR5j/Q5/t4tet7//kc79cjrp/H87Dj7fh1/WnD3n61J95GPlfH
          /ut4jWEYLfy6Xv3CHvt5PPVedP2v9oS1RHZrvb5LDTVqLL+u38Qef703jKh2
          3n78S81Ou7/buWm6x2tfunuO9Bz6qL+PH6K2UDnH6gg59ARKbey1DkrMESRV
          lygghpuXtwASqHnyujiOuUT5aOgD8r4fzsjx4Lowo3iOKL8fM/BmUsJ67mM+
          8+gPKOchg+LR/3Q+GefAp1U9lTSCuyLmRsEcayS84x/+4p/+Qn6e0DEz5/PE
          45//+XWR1+X0n64jh3ieWv/jdf2/vO78794bjv/0HXmzzKOd/9NjoYgCEufH
          /+Y5vYqT55A0lbtNae756BpdhpBWANeAFMG1OUaQ0ucXeFU+A/5AGSc4yIkz
          Z8EfqPVs+IPEOMERzok/XrvwB/l33vh7jkz2Ca6fwU8zeGVeuB/8MYM354X7
          MXcz5nteuH/h/oX7F+4HT82g9QzWnS/cT8F34f4L91+4H3SZL9x/dZDXEvfB
          J553yeJCXfzzKHkOfmubj0YsUBiv0njNlRql8Ml3jP07YCqXp93P07l9+gPa
          ieqluU71ccez7v7MKGq3ZxVSRAgrzrDmmWJIjUR/SCs4rojz8ygndgJk99NC
          wawrp/1u4Fv2jrj6qXaHWxSQ2V69bz4jSu7a+yAu0Edo77gofM8Du3jGSbF5
          DGwTttO+h+/At9/cQpW4jTQCqSQ9CwpJomx4jnk/6smyytA7npMchVeBUM41
          1tMK+hD3kmGh17o4e+MwdTyXmlAuLgUoWNB7z3m5bLCet7Odp4/yLHSbJtFZ
          /mUC2VsqP4vXkNdFjQZHFXrFfkt8KFlfbzn3WXtLCxnyPIphp15z//WWS9Sy
          KOfx4yHJmhxZHfxi6M0tXg+EOcaXHT0iOPbT5kWumUgTY1Bnwi/QDFgdaIOj
          Xu1+iHv1Y2D/khlyjBLnSVhQMxb2I+izXRnv5XE0ts1pFFD4DaDH8ly85o6k
          Fc3gOSgO+c6Ad96Pvv3xNoOA2zUhr0gT6JKTQoZjdWGcycHwlmd5+5q1byRv
          H8QZjkGsYbwxD/ibtJNJgzHY8cyR0Ait1q/b9Qc8k++kDgD96jVCYY+QzUtO
          slNtx/k7Pzfp/PJ7MEi9paed8TnjqJ37mw7bg/mSn/GiECiL6ADScMb7s70/
          rTre7x8nxrCjj4wmQM2X6A6cvv0L9em5AVPBrumQr+m25+ajioKhArT7Jvd8
          Ux4Uv/rlPoGKyVSvg3YxSzq/ElRlcyDmToUO2xMj2PBleAW64LLzMbUoCqhU
          tu05Gmqqhrmf+7lRvctZ6M/FrFXrErU7UFPBiOH5z+k6iDgN+VOve16dh3Gz
          az8DPVIvjPgNCs+YMamSX8B0uUq48W2Rx9j558U23xnnulTO6ErAI0lJ9pN8
          FNbza+bpmpLWaVrlmUfNvySq9SPItBW1VYrIc7IfY8aMVVtpA2BSYpaAQ8Ei
          wCxF16sP0BM8flJzs1FtuZewZ83UbKK1Ys/iPVfE7PhQayhSgnrR/sA9N/uE
          egRodN+zKug+npdfP1o3u4fX54Hv5vX39/oQ8P/hcz1mMvtUmvNBnimutxq6
          RhTQjmImlb6pO9VZ33Cafu7lmLNvRrR3QaDl3Q/4vXZf9VOSoHMbjKdyLMCL
          enCzjlLxN6ek3nkFKueZNhEU0ITunTTS/H14NqzfVttDK7ilk1Ihst/vdFCD
          OCTUT3BC6m74NG/nFU7OeHHAmyQ+IMGk5MKu6zwH7vNwm/j9nZp6eOKaZT+z
          4ri0HfSEtQVCoJdy3MbdIrnbfZKDn3wO6IKSvZDbnlSH+RxwRwz/MP3cngPC
          Q4uK9R00kUgO4P0IDtXWwLdye+lbOXND7LAk8yHm/YBzBFn79rwQwM2qS4RC
          2viOyzqpu90YxwbR2iD4WxcFaCQwhyslDiUW+HCuY79jFJNYOe5v9+fzGzEX
          SCboPpgRur+Ru5Df73FE30qudm9jgZIG9tA5hvi2xyROzK2fYfc3Gqf3D+9v
          9mkr0gLIcgtYxOWugRH/hZZ0TQXTsGtotK84ftEbx6alPMRBOnndwjur3lk+
          3B308Rx7LsU++/f6p9jcG/V7PTQV6Cqf60c45rXHvpLL096BeNrzLYEmn/S5
          fvY8177+bH59/V6P8b7s+fpGzKMm2RBo8B9h/eEbV1nUpu2Z0mcqpVmXLHEe
          QNllvANtTN/vheg1q4a8ZiXjHXXaveqfAM3l2/67LOPJtaJ/orU/UxS9+J89
          n3MsPqnPz3yH+D2DfB/dtVDMjdSyHCL0WKRSqOFSYyqnS33RG56YR9/ypoim
          SGf+HJfSzw++mwIMhM88AgHfbOudX/dg7NunLxIMYIloXX8lyU5ozt/r63Jd
          0dqUUm7tw9erzQEQyPiHNvGejL6K+x3ymPA7wEl/3PP8uAeqzrr2vKEewHvm
          whT3e8LF0f3cQ69RHbKADhlQooDxiDIzZVmWd0HflX72WWuywIyWMEcvkyWj
          vWTV8+qzfvXzQ//XafQw4vgDPdBiSKP0qusxhtRo5aUb3pZtMcCikcUADbld
          SzyH9056KXVvksY6eO/Mo736oZN+8HBYW2grfRPWh2jA9977tj5EpzTXlShR
          yd92W+UdnLkdu62dMwikfPbv+2KmVo/+6ucKHRfbfdfdv/fV0+5b8Xtfxhjz
          205qux9rKt0LDFT3BTrW/PvWMNrIppPw/6ijwNqSVebf94ze2n5nu43no19F
          I495hecTvjTWftBlBj2u8hlH11YDXUNvuqw/7sH8yn1bLWnZnITKWj+8L8Fq
          hBA6C77F7ol9LdP2KSsPe891fO+Rih7FN5f1Z05zZbUCcupYmf4mUt50+vV+
          uZ6nTsn34fflu3/vm6fdl6Pdxz6UblPtvnJ82ljuzdPBa65p34W+vNRG9HuI
          z6Rsi4+sGMyDXPOCvpHodxafEO+gNNnfNcaHtsh42szf6zN4TZCn067fOvj5
          mA4OGuL9A/om+9J10dzn65252Zin+/vOU2NC2qzlr78hQM6b7pRm9JZhh552
          Py8jD+HZaveT46pfbU6sCf1BHlvpKJkzYepeylWMGXWUEr/v5niAp0svmUF6
          4sCEof7UuY+mder+hboO7TOjCnmuSjL/81lgKJ74G8dJHR6/q/+uZlVgOCEk
          YIXRDV8wj7Oft20njXX62XmMnmfagiCZ/RuzNmF7kAImugGmyMkoAVqdOsUB
          pS5mXkFH6TjkQsbxOilec8J25BC0v8yCGFkTJHDmkaph3KDH4pWgBoR9DDbB
          MWgh5eckg63JnkPuxeeYdhRgwPp14D4JErWjvTWgC/EMqAQp+fkEW5ehD/3G
          SN6HXct7oOrBBpXrMQW/Btr7WUqeAX3o2+P/wn5foV7aD388DzPRfoMWkx2P
          wSiAEu3nNdi+f9uztKXYxf363Y6f231NpVD8vBt2uP2mY/r26+gxnVcuCe9J
          oq9Dv7P/zr9+F/9dfv2u/rv++t38d/vxGxMBms9I6S6BbT3jCUkVXcLBKuvk
          hFmS5Nb28m2HZAQzgeg6uaVWlB/df3BbDpsLcYFksX+nWn1bvuf7QWdsVKAu
          gunaPW+plqEy4Y/zxa7h7xO8AO3Ol/2mb8x+a561cpkno1ALUZzS/I43fbWS
          LMfpytb5CZM8tF3Ap6soID/ubS+tSUoWsG8q+lTprovxlCyJdXmch5OMz9rx
          l5Ftf3n8ZnicZceFxrL9HQ+afv+OJ02/f8ev+vd5spZ639ePO0kuzmmS2rYU
          1AdjsN32e5YSHqGKTos+Wjwr05fUjZ/zeB62vbKdD/7c4M8N/rxyWDxrdvea
          tCxtdC7b3/Eu6FTaD3cuFu/y9/u+2qRIiMXBzv282+Jopz8vZ/kRGMbR/XV5
          fM/bhY8VJ0+XWUv5rKbxMFptUVY95xym0Txnl+V3FfPhXtPOk1mIAgr1FZe6
          a5pWHYos/uHhtRYVrWKXL5Pq1pYmnxweC3pm8AFtCbSg6J8aoKYb8vk6yUNj
          GRepsIxIOXKWwOhNXnUwCgtFchTGekOssA8SLJUC3SDNGfAf2kJlG3yEUdxx
          lT4iLKpypeaerSsHo/Ns7VvLJGRg+0LE4dYD/dMnthP8GS0dIDx6NDghJjRh
          2mhhvI5TgYBqENtNf9T3OHgCJP6lwF9MP45TEwsnP9euD+36/P5cQz9qJMH9
          vPemV4VK2/XzerCbWxPy/Hm8k28pABoVrwgvXhKya7xJMZeDni+b5EZLmpsk
          PUgBcKZKfeWKfmxfe0IJQq+mpfgE+iP3brxJvCeHujWYIh855G+k0yPAWj+v
          IAU7YGQWww/5wlEGmDqs8UaLLA7MbGqHt+S2vkmOQNCP5OgJ+xV2DNrezkHr
          xO6d+rbYb8ZUej7DYlieY4HnoJ3UhKFFXeyTH/x1ZRme/bBtgtTkTAP/oAL4
          RMVzi5igvmlBH7kyyBCaE+QldQrK+otoiQY5eLq8O2K5LY6E5rGfYildnlcd
          AxMNBtWAkgkrn3KyBNB9P/iux+QjjIyRU4k6B1UXxwr9zm1Iu2tXkhMm4ffA
          76V4Ugf5Jz2fNDciWDfDcXh3occcv6f/jmj/xS01FnrTIAGwnaFhFOhbB3vl
          dWonNU88M1qbE8Zkf19uVwA/m4UIkMAOh+6ztM/pFXIzvQdaaT8nnV++P56e
          BS7BROd+gVZK3QzWoyy3/r2XXkd6mHUOelt8n2vf+6CNn3rHPnd87yvQuzD5
          oOvZuYn34xsGxo0xt84Q35D/BgoTaYfxl8xYDrq9n6e+v8ujWGkocdyko1rM
          Dje1ydjNTU9aAl1vHTTZ++i15N05fL+5n+iD9NrHt+T62k8/+wjvhXorHcvo
          6LkcFAGdhN6nh/oezl0/xyMoGImxnDYuZFLYl662x1FxxyHawDDHQ2NPmi3S
          SYynEgIjr8lPuTmW81qXnx6lpsX2vPEXp6zhMiwqRBUNujzsBWhFE38ntKSr
          EjbUwBDBgAIjSNX1H+g8+I2vaJT/pptXRSZIqw/0+BPPWqZPKRbYGUG4B97t
          cy3gegavY2z8gjYiHY2QOJh74DmwHdRX0PMrRIJ0/16WntkhOTEX0LGwCKH3
          XLvf6aWjpylsnpfllX0K2x3iCuVSf2/9l962/bvzeHa9GnptuCDEIqjH9F+0
          s9KnBMqFpD4lC2OJRAVgbEBmkbrf6d/s53F/CW53GdJFciXCXpnPungctjnf
          SdlLFyLkSbXICceEBips6iuCixKxtXIBU8Scwlid9GJe+vZ6TELTcoJEG49Q
          CrTDMGLJ7L8A3p4wZoN4mEHsQsexOkQBsyZF8AJYF47zGqjgOI/n8RjhJqc5
          Y2CaDf4eg509QtJsw3nK8kGNYZzcMiyBd9AhyJD4SmG3w+ZhwjWLoQt0LrqL
          f3e8zJa9szA4FX/s1HvNi/yRetvHPpG25HQkTy/6aY97lJ0MEcbeIO6BXii3
          wMWfg2jgsLFguDmPpRgQ+gwsl/1GR0yOkCbYQgh2OnMW+6zb+HJ8ouuPeQxO
          SrzSttdlW3RSs/0apPM/oyuKtw55e6B/aZ6uIvwNaM706enH9zzeNkJ120CR
          /Ps7j49s+xYHVgD52PiqdhGAYSi+5LpXddyadERw1KOWk6gVfYvrj8ko42Q0
          f5GWgs176hVLPoPWpfMJc4VHrgtqFV6QGU1TxAgqP2gW00d2HewYXT+IPYBe
          SJvpbJHPE51DxJzNxg3XJdlSBPRhvtIEmsNU8XSGfoL2EzjBIjM8iNbaUSSM
          Y281zUJDbJIyz0CcQoSKVHi8zEmCGGU+EBYR4xQI0Sq1J9ickEh1FBidqQhv
          UqGJg98nWNSu1124x749qcPwXmggHYpmuJLgC4yUpe8zGayL0CjkMxm/nldo
          vQ18Nmxe0NxJ3s9osA3GaHRTMGIqw576BZ4daMPGBcUnjcO+he3F/I/U32BT
          iS8w/ml9Q5pj1NXkIiO6vOawiNrYz3uICbLrQZZ4LyabKGDBdsE8J5+c5FF9
          pCzfEeQSdGfMkGeSxiFH8LVFlAhOrmOjjE6djD6aYe+MtNXJr8Y80Y7RZ7lA
          K1QupRfEC21q6McBG6rxvYm87X7ilfTMXobjKYUu0zgVyj+0m3ZLwBHzZx30
          TPH7QkV/QQ+TL4zP9O+/w4NWSaBXqld53AGGymDEjiYVdONC/RdclF5ByRn0
          VdjHJDXHM6Q3E7/iz13nz+didIP6toPxYpwef4Ygr7RV5ve5OkZ7hxHhOmz8
          MGaNmFs6cWHaQrWFXszv0BwJmKyhUFeAfJpHWbOClunxpWTPRPFwFDE6Ceo/
          abKNKfpjhIPYjMpIn/AzsCpph7U+JujRfJAXVaDMeTlwjjrTjWuhZ+aV4sD1
          xa/HPm5qeDOvBRmkcDOGT39e43W4pp12DPPIjuN6Uk4+bD52zG984SDvJiNN
          HDDob5BEUHMjnXiTlmk/fdyDfT/6w/R58g7MIdL5e5zkDT+kmx+fOZcUjT4N
          G/fzfurheG73aPXneXt80mvuTMzNk3ZAHYqhQG+hf3QokhdIlxqnTF6jMFwY
          tCFgr+NQ4LOhuVH+YNTAqQsG8e7h57wpnBcYtk1j4Jo/aGxc94fW7z2XEwW9
          z9vA/qb85by4Ai59PvPpH95JkI0o4Cb/wPu+869IwuinzWVMlkG7Grb/6T4Q
          00FP9+W4byQvly/of8m2ZLiW7udhRmp7uX/g9sjBtUzXTcTVC5dk22PC9Hzz
          D6ITqJ0IJziOzT+u4vxjCJNHf8uTCfklX6bttukI6g3v7+b7Jl8Jmofet/PC
          tU4XBKqcckCO9Xm288DffE/8+Dv+d+P4g44bIRKvcQUj6BpXjNsDOty8dezn
          Leq0FN5Or8bfJRfQjnPQMpqYUZgdg+3AfBoQyuSfQVNMNPzhVbP6++ij+EXj
          DefcRnhKd4QQ7ZI/vFsyBDIQlCD8Z4rXlzaOICSd+A7kJel+mCwz3o6xCY1z
          NSzYWMKXYQp1zaExn3m3GZb5UbbMxb2KJeA3fWwV8+iHbBMS45D9rbmbupB6
          9DV+sIM/rmekVcztOvb33Enz6L5paxKJCHnF/jmJY6RPUnMMJsDrOYyEGlBb
          fhaYueCW05BU6fA23HqXveO+0vcc7QOcJ6II/XBcz4R1APqu0OWhekEeCV8o
          fXf0tW3FINhrg9yZ0okf6cIfv8rCTKTkwx8URvC8LmeQfBvS5/50Hoz3YnQt
          XELO0AKi10XX09MDhlf4GvQ6JO7RyUshf7HN/+6a/rpGPhwibqnFDgYWDQlB
          fnVd5Pgwfy6KTOgak7ZNke0bzKcZ9bxVoI/r2ZyjRNZP6pfsvzGka0TREuYy
          toneymC+uH95Dt6b/vSc3v79c+hjhTLaC8Tfxe8GpTco2SCxVi8ZKEHyhDED
          ez5uxpyckG+knSI7hDIN3By87GbyguaHchUe8ifcrzgD7wcPAMGvwWeMS/rH
          +xlQmhfmfMI2/37Gpw2gycJ3T5wb5qfleOAd/APFp4NYT+JlovCT1YA3Ga0j
          bVPFvvmsdqxFviYbiygWTElYtNT5yYR6yavTgxEuzpuyiFHF7pOHYnz0AN7y
          B93l+B6/Dz9++HHahqEqLsg4LIxynSdeWufnz/N9n6dhjhksdKXLkmPlZvEO
          29+yacuk3zKGegf6I2qexyw/xqjP2H6YRSdld58kLrgv83HBEl8Z0gPz6q5+
          7KjPuk8/Hx7o8Ue9YY3BAm+QmDfoPe37IQyJw6RfFwYzuDuRUPSH+PknEdcL
          WvDn3Y/CKks4/9NjvBAbq6gfoMeZ7wq6JaP944NRpmwbcV0d/DbbfcvvS5F+
          2gU9ANZ7pAL602e7dvxKmgI1TfPpr1QZ3cDMv8oKDbYHWnrj+amDkMGzOP1y
          xKyXLR4oi+kng2l3QzuaI0McWdt03VPJi6GXt4cBt0cxb/I+47NJv+V/bStE
          4fdDVvpJ69s+/Gnzn+QsiqVMes6C9P5CvsT2TyVaUJ/GN6NLp4JZ0GZoB9/Y
          D0yI0MMJtwlCIxLGT8DNIbUD/JmBHoxfD9L3CFumb2R1KlNCAJhfwmMcRO0c
          jFlQBhjq64uowbwd2dHC4fWbxz1G+3sLDeVzjkbDcLRxOvZvs+cPzXtDgNDO
          oe+/l//p93Whq2oiY/h+6yHt8ip94xRIg+SzHj/m+8JN9M7+TkNNCzlRrD2z
          PAu22/9xf6sN+SqOmVAbNhbi/V75IUhSFI9QZxk3oH1d6ytWAM7YFevBvGOc
          94GZL8DgwYwNAlJ7uMu0bD1wjQLbrTERzGR/Hj7vaG9CP6q7Xw7LPal+H+6o
          Yd6EiqNvLloJNfC9kPtHdnqO7suCnoGpYsED0H2FRAxCWtt15aREuonA1fkI
          BeNiRkSUD42wuky+A7FAX+g5buZf0m7Fx2f6fjirYYbx/vPX8xuRvNQbE+aE
          KCAr+zIxsw16G70C7vOTH0E6I9g3+VwiShffHW0OX8QdPDq+wC9olzGQShFR
          mWJFwuV59Nsd8R3pPS4QtLuPhUA0fjr5HvajP1/fCVl1SrYNweygOjn+4RI+
          QzkO436m9vdx+pxpE+Qr7vcwZvHloTHFvOeX+elzqxYWeM3jD40xc6RsnY8i
          T3Anorp67FLwewM9pCybDeOo7xz5Qp90a/8F/SYLg2btDOXb/or2h/I6/m6/
          68LN2w+BZTx0WfsZY2XMDqxYcvO8LA9ox7UX49+Ud6UmQyzblqk9ooBCJboq
          pg1FKJmMtXsKA2OUF5fbhbfHKNY8LR7s2+zbbltYq7ou+HVKLHkY6jffZ+n2
          /OW4iu4xj+nvbe4zVSJ5e5561hv0USFjsuKhmNe7X1L92A6fvu4BfQ3OkqZh
          eMh39dv5sWgLOldqL5qkrYT52iGbu+yFQdyrxUNtHhiN8r5M3398fF7T4A8p
          KYYQZK/Kt4Xf5CXXT7rndZHyntSMKZLE+0Uz/0J/zeMiler00R49FfoaXgd6
          E1KUvbLiJZ6ERkA5OY0/MUDJewb0h9WfcZs/n+0bosf8YMt4tbgav7YmxhFO
          fDMsGZjS0+1qj2PeHqv+xmvksh6yrTSvqEvK3xqNh7IvU/bMktCWMhyUB4Yt
          bfOsGDOYlekWlToA+w3ttrQhzQn5Xg6Lhb/aId923bS4adPyu59n06xoCMpW
          yVHzYdPkptHDcSPBLCd63gyHcVOuwJiRTIBOxkQMzGumhSruuaCzMGZNxBqz
          VfpVwGnxdMzFoeOL/hv2ywjgX0X6nuVC7ngR00yFwWrkIeDGeGbMsGUtpka/
          LZMccpCvHJRHu9vzatAmWD2nMp1gT7Y9DksyptJG1TXhdc3h1zDLREE02PP5
          AjnfQpZmsII6WFoB1zK30f1pYJaYGFA18B0T3ZmMR3/eIZy+v6M0e0cEn4rM
          aSvKqJIcjYPzVvMEtlom2k99FBkDJjKYmQ6w3dWGbP7W4vmDYbovA/QBrtEU
          kwXZ3L1yFBn6gNwUHUYcs+wSGKb8LrZLuYKNNgHmE57P42wb7HDwCR4roIAa
          FDU87DzvS4d8h+or+vFZxuA9R5XwFqtxXEYh5FNXPCOuoXaMHf/a+huxGOZv
          xDw76Ve0+F2gu7dsNPBX11H8eBmv3PbQ47guqEbVdHqzf+LHXvrr78L+X1/c
          TvTxorxU/xAiA1orpN+l3+uin42fmKTjhIPIc44p9awpnWzIfqNONsyPie9d
          d6O98BCXZtcWvxb07fpbIAgfvFU2o64dxht2bPxToeBG20ECt8e6GVelnzaa
          XZCranNAx5wMXEaarTAboQ+lzhjqge0RILOxHb4ftr0dMK+VmgqdDrpEelTP
          Apeddl9puOf+nmdv+Lmgb02wvW7yRIthEhxl+DrxD6j6zj8wH0IwO5exavEC
          b7/6jb5B8Eny4kzMRkgKyD3zSsQzzSvoGPr6bpj345L/IBK7dFZlxJ2cf8LF
          xqfvY7hnsWAK6ZfnwmmoefFKZrU8jE5Zqn/7Yo1qMRuD8eQWoX/HonigdM77
          JBtnsns7oUuCx4GqomFx8pZvQfTS83L9hVjyBLqvwlli6mkurXgzznNbbBdz
          5Ligi0EQgz+niW09Xc9MVJKtTb49IJakv3bTp+72W1cLbg+gv1kT5uPT4rd0
          fctJXqMSJZCbjX0G/sjvgpHzJMZMT40XA5fQeOvxQDeGrv0k4ksx16tlR930
          CLazn6KdlM8Ea1oUAIOdmfdxNPk3YJ+hsx4C1xK+DePSOnh1I0ye11DV4f4g
          hot+01QV/2Ms/NMXUsNMt4mFIWJKLctCEoXS80bvKiTbTFV9pD42H09m3nYt
          z6BTCGM5XI8P9XS9hKwEfCEx1fQkmtWPF+oTn2s4h8I9msnghD4i7w/i96QR
          Pg96qY0n7VaOJ/ke7ULoIeszZxj3X+Y/wl+n72dCVWGaE/7wOTVgC1qrn2xb
          FgmQ7kiyJL8r0XCZzhdP9wPF/qljIh0y+nbzmNkgmFjIguBAoS1NHxjDcqep
          ShsvOmFhoRMdY+JbwzOgu5lRsYZlpcpfhckVE+Pz9UzTXRfub4n5r78hZM/c
          nRdn4uUrcQwng2SSgYd0ImY2GMazqs4BMUWfeYnxEA+nXOJ4ip+f8scp60zt
          cBxCQVvSqmdf33dCiRHdyd90+jOfq9x/asv41ZZy9f3uHL7vTvGn7+PdBiJi
          Ie+ZX2VtIM/b9jMYHH1z1+k2dpV+Rylpup/zo+55EuGLo9J4tyr5ttKrT+n2
          KwKHdKtDge+dkPvUp8LGzkL7DtRpm9eKuC/GGelD1ryB3kMd5qS/AqaeHRvy
          yQ3iCNQHRbrUxbmi8/RdQr/bv8vEXN6/Dx6HHK60ZEzedbO919jyjdO8MlYE
          0wYWx6TvQ0ma6qvJeUhMEOxNz2g3n0Q6Ga6g5B9oaVVMKBOHINud8g5mM+ZU
          L2Yf0B8Sb9xztmv7MHgd9mEdgm8wnuy5J5G2UmXyYR2fWFKQv2OQB876SFML
          F/NoGBeMs1T6RNqUnwx8dqQuXlPoP7nQ9ZzTp8VxM+jrBA1iTGCFXTkk1Zg4
          iQhlbY8crLZHImQqY3vZeDEnjj6V0MWPCAIIzHSt8dv+w9tP7Bn5dmfAmLEu
          yCzCQpQ7dzvu33IEuu+b/823Md7mt5n2Lvp2/tO7VFLGZFtgDhBj7JKV/I66
          cU3nFAVciuUzvmXPT9Ynkp3QGdu6Q4jW98H9Q+z7pz4DVptiqUdSXLeX9PHL
          NNYKA8Gk2j7znPl4WT407Nfi+hv2hR0s1gejS2oK+0hMlfAlp8n2dJj+nWN9
          Nk2St5Mmy/jS5BjET6g0SFyzMatabfDt/7P9PH3ffeu+PegjoEfM/XL41RQe
          j7izPo75hMZUoKPpWnrJH8i6CbufwGJi6fAbx/PnOcryvaghtuCyV7878RXH
          XQ97Lm0WPhu6w+jCbNWbbOZPY5Tbd4xgf525fsfoMy7HP4zLYePyVLfhyCvq
          bdhVuxckZf0UvZ/S+rV//tqfv/bHr/3+a7/92nd/bui+7zQXxydHJ5DJ0T7s
          sU7z78BYy8rm03dUsIioeJ54yKyk+SQcxyjgJ91lC6FaJZs/7PBcBgiuZZnO
          pjcs1qUrh8p7vPF63feH533kZX6DsxN1QXYQlfmx82umX0f5r333J+z8np3X
          svN7dt7KWobZqoTa7nP+rJ3rs3Nadq7PzmnZuT47J2bn3Owcl53bsmvhoclq
          c/fcofH5Rt96TtDOLdo5RTuX6J9yeZRbcAg3YzmJKpYhvTO6nyaST3aXKeQY
          H37JBmViP76+ncV06ej0wHO082FgTMsJ+zzHsLfEfRzyB7Bg1Iz+nqiYDdhl
          xrPa8YOektGTMnyxlQFc5hiuYzXj54LWjmk1qsDXx0cfZ72sJP1Bum+5ne9B
          BvXbYwPJfeT8XeXzA/f0OJeqe5gPg+H6Kg9sUxeQXomL6jtuUh3/StlTx9kV
          6+vCyWKOU1VvjTEo57UZvDYb9h50Y3yOFVm2XEqn8FVJRnQacTiGW3o95xDx
          Z49wVIO+P+JrVAkIx5V9kodyEvrUOcxa8CIeZ9UN4rmYgRSgA456nLPCKGK8
          nQ4u2YlRuNKQ5PepK3digEgzaGtQwL3BHpnGE3yrsAy9k7yW1yme4vwM3xbu
          UllPI26+dqg0W5MvSzYicXnNbA5h5llgbetC0WIhLAgyzS46ZcMOO04sGvSi
          81Iud+lluB1AC5jyhvpBaLM02Y1dvk3GdzQPVMSAw8q6TsefeJqql8ASFwWA
          0OTjup2/DfG3QZ9XvvON+TKfYMfY7s3nGHOVLsZKRrxG0s/1mK/OpiJkmneY
          k1lxGMOvJ4uvKRcZBCw/o2RPeF2z37+rwUQWq5E/cPA7k+tP0XxHlbaRZEmv
          il1eeHa8YSI7DjUR/3D+6pNgfVKo7LVwhz1/PE9DuHjz8ykUzGQakmdCOzGy
          9K3efH7afCLpm0Rf0tktNmTHMSrRdQFWHEupgMNn4aBo3wmDzvk5lEyufIK4
          ZVkzv722k1hKOvDxfTXf8uPbFu2IMAKVtxwU00Tfxmz38nnBY1ThyfMEBfS7
          RSKxdO6xuFA8LHZRD6Pvm88nvfLpRXkokXV1H7eLajb7WCnet8ynajKiE5mP
          rz9Pw0fIPf5wGlrtOpMRWz6qCqXkmN2/5WRYX5w6/l27/mdwexkde77tbJYY
          4P7tcrP7+Z2P+jyL1SueGUym7TqsOz/V08ienbfKeiCs8ESWI+zGFVRLjlUX
          7vWwXO7GLwlP8IpXBsUQp/LWrx+VL7YfgmNTjJYaq2PR35SZ245+zl8/RFws
          FChcpMW7ilVyIlrXc1lNFz1ZS5S+r4/+nRhXd58o94vwYb/iGXIQcOyWxd2O
          b59/K2D9l9Wtrgv2f2+UhWYfE8MQLM9lEPIuHZYxdcvR0dztV6GwhezJ9EPh
          u/mCumPP7JeVWtu2+B7TncMQXbcaWe/2RN0PPwJttCQfuHTCtgzjYXH6j388
          KH9K8+MaGsMhjExSftb65NPRf68yQ9PeSb1Y+p04ah75m0sZrlfcPpv9tzEX
          8tv3UoJyDZhTUOPEH23+dD5ESn/vpU1XRUfrG0eJrCFIm5/M+qB//aLNT0HH
          NITDcB/0VzP+yJxN95eKdxh+GVNsPrfkFkGkNYbT8vroq1FfHDs/8j/sE+dU
          luWvf3LOPFd7XuY7wxw633rdJ2d750S7vrn1vK1HHivv/MlwuJ/Xt8d7X74T
          w2+HT/uaXzd9nzyX9jI4U37lwZqv77/Tb/+sl4b2198HbO+u7JtHlaRgoq4X
          ZqQa71CcyXlDXc+cGH0I15xV6JsJtRb/DKAOQTtgeWS8/Cragoka9iGCPttp
          PnrI7KHMi2mY0FkgSRyre5pvyHJxGMEmvj0RE0bZXC0HjPKJ2WHxD224rQ2U
          e4v7U8o9Jv/Vk2R2HcKDiJTvY7dJ2FxKjXGonid98YyySPbGr36kvinWN+yH
          d//gc9E/nI/j7l4VkVh4xiTLLWEyHGOihA8lj6LdqX767gysN4L9yRjL4Pw9
          FB9k/Urop5O45YeeOZYuJKJm8/Apn88dwBEmJTP6Bfql0taUBDNVsY3vr4QF
          B9cDTJ+3ygytDlUMom5PvU56tPKkhbOJsls6A9cXDT5lxz1Esvx6V1R16kO5
          1uzHK1CmfPtxF8g3MUmSNp645fFB9NwLz5W74doGjZj+IyajeJkq7BmvUcwQ
          rI15nKEQX8TYP+PTPUGrbdNjnh95xxi/MDPg5Se/gjo7jqPdw2O763Of+Q3o
          g1Kut6oFgv+kpcp8phvLfvngmBTPmF12F3GPaXrNFFVRK1E1ZO9JusmzJIs7
          xM48L7Stmb9UGCCvnPgo+wxtvZP8MkvZH9TVoJ2e3WoVg6dkfxZtK1YhZExk
          bCxH37V12vZt5mgygfbOofrVi5pp6Mb7m/SqM8una5W4gip3Dm4ntp94ffb4
          EmPdS7JQ1e5Yl2DTaiJmq7L6aKopfXw00HLm2ONSGOuIL1svOa4wjbPewohH
          xcst5pLCY3HCGZ+bWG/MEMnjttSvTH7rHbxLGN2sOrXT8vhSuiutPo/hELx6
          aCwNL5Mxx6lrRpbyE82hY612M0tBNuLBEgEwEQp8U5VLVkiK588xqvLpYPYq
          SVTxqvK2p9Tn1Fv7t6KksDpTcXmjUZXk+wP+Krz6nPFIjSlMJcxofWNJaQXN
          UwwibRLsw6JaTrMBNLvOS/5WUOrlGFPaTsHr2Vgc5L7KHh+OfQ/C2bN6y1CO
          EOxxnpvhkV1Xu8cxjXveioM2adkNNFDy+uiCUCK/z2Z1Rn1v77m6b5V+ZZo0
          9ZQf+SrdKh9VA+BoLt4n7UXlEYyt47ZLuoZyznTdYTl5tNlOXhftO/ecSgcx
          QOgFPnbZ/Qv3w/oYA5bK6rBED+b5o78hIaiD3A/jrE2+QzwzsVwDZRR92Znx
          hOf7nearse88z+93vuc0/SaMd++5Dz6w/if9MMdz7blG338MhrcD57mJvwhR
          9VEm6Q62lOwx2lTVeIAmncL4tLVuP39bTreWxUAPUDbt97E2CW3IfUz5QdPi
          X5wPswufQj6DJhtmX3IbPJq0EAfGHjw2JMuXpacW+kLc32A1PhL9NZiG7rPs
          2/9mMqM7rq557YCtZ1ffP3dsdLkM2dcPO/+13cyman79bdCop7t+GE/DITlO
          AZpNq7sfAus4hV/YF+FKCISV74O4qLHx0Sdzu4hzYFwnefz4g/e8rdpucCw1
          i0C/8C6e6zEwJ8NZFUMZO151Oq5E8htzO9dk9UDIx5/bKvhBniiWLmyw2Q+Q
          ZMqMwIBRsnMei88nVl/MVu+E/HbzDcVkUv1gXokZWKmfUzgQ1ZHpjNOB1zyO
          tzN541hp3/a9/4dz32sOvyZ+scfUR8MfsIBr0z5xXlE8MRbn78XiSKmwzgPn
          4VBK+fMvOsBQ1Vp0PCi/E4tbL+bOXOwLXndwrtIB0LlWh/ISWZk7XcbvMIev
          fsHEIroogBvA1uNv5l5g4OM02Qpd2DHzD6sO2Fzr/TvX/nQs+jcN9HVXLYXM
          OgdpY8D2+csxc6QrgaU09yEX1SYwrHjljSFvt/mzrEpbE5V/auvx/Pr6u9r6
          12N7XDgP0G3XG3eybUy6ALKPg+pW7Cqx0o2UU196es0vHMNYRuizizJGODnI
          7Zr6cuwvdWoYFBoPLSJCO3v7Ue9QOmuvTa3DxNQwZirjWpqas0smMBZFHo5T
          15YRO195wlZgzbXNx4RRcRyHaOja+GjXfcpPOXx77qDlcTh/dzwLqy6z0I3z
          xXoT9/JLryv085/Qqx+0C2NKd0QR+o4+CsVFxQKYC9hVt8eKcsn8Zz4dPVVJ
          NkY3nmt4F+YnE0eNZ0E6gdarnlft3kdRt7aaqnHx2Yv5y3q4Fv3Yuo+eQyj8
          tfHDgz7lRh3DcDOMA1zXMX2esbaV5hmaRhQ7XcAgZ+jXXToPfZq0icAn0rsv
          xINYGTi53PNKwgM6RXz3a7F+BQe+KRRqdx+v+n+Y3GHV6PTVM+Nlsqkyzrvb
          DNqTPjZYQB2iSUV+rs57hAF6PrZB2PTS6vPx/YZLWNRO+MwHPwQriLjhjQ9z
          fTYy1tf1jRAdVfyC78msDZZ3HM79jh+ZljHXVffO/ILUGC0uZzIruI9seCxs
          y8D/JONuX79oKUcW5oetVXa5P5M3oV/tno07L4dhhLf8HYfJ141B+thJ9FeU
          rx0tG/oW1kXjZ/a00f1J3xfX+qFDa9sPDMlsH0Gw+P5Zpdsv16FZM+r++jPJ
          fAxf974POhdDyBZnpU57XaUmxx9M+ii+cnQqefrYHsfkcZXgvL7++JZcL9o0
          4EOVqBKyAlYSolU8RyVyVdnwWdBR8JRHPEJ5UM3rLIIHZBBb4KdLLrFi+EPe
          mAKtj1PYTRaGFxCvN/yGnp8/dkRmnk27hHeDtCms/tQreGw/iZQE9Qrry/GI
          lluXEnkP9I9b+AzJbtXdEQXcjJd3DI/H1Bh/Sn3cAXLnNN0C96i0gvY7bad+
          8H24LuBZJ6sHqDJ+VlyBPhwMtvMD2gS0elh0Y/dltb5sj9sdt/iX7OEOGkrO
          WyP1XtYRYb4xuln72fiDz/mQNp+APoyPYHG8D4+Y13MRula75dOFh2BSaxds
          bVYO7Kccqq4L3IZP5OANsw1iZUkezmYS/aAINlmyCu0o2PrK6QqK3nLcp5bs
          qM5vbMwfyD+ZP6fjaKCTz61jVmIL+8C3ze2L2VWRraK1fd8xOHEtb1dzKsvf
          AcWhz4L2YcuqTRr3RAwWK3UTz2ZFxG9FRdk34OcsAMVvSPWvv2fENGM94IN1
          Z2H+BaaNKD+BcgmyMp22mgLx6U0+rI0hrofVLCFNQmNQ3GDcrP6ZSmaNmfjC
          wIJkb65FyJD4lO+6W0xO0SnI4na0V/0oYdSzcm1zVQ1Hwt2rZ2hQX4KedVqc
          mgksg/UBFBfGxL+43saXZ1zULY2W16Q//Ysno/KYgscqYcOd+h55choVknZF
          1YwiFLyNKKV6KW7GZzMWllUzQxD0oVV7BKo4Prgivg8yapKebn//llkszGBx
          Pwpl0X8c0D1f7yZ9dcakp9VBsJoANGiVg/jj2urX0nvL9rIat1Lz+kuHCy8/
          p5aBGmLkmAdlDqFxqXSyJlgK0E0KtTvHBNI/z/zgMAzbeshDi+3NHNN2liGZ
          R9uHwBvMWNDSEKCjB7fptgzZ8mq6jdfCXmXT5N/9Wd/vpzwT0uQle7YsyoGV
          qSFTwSdBS5x7YAcNkh76e6KPAW/GFny6x6a5o8nZpmhSOupknIsokKOWBzr7
          yTq5k/YoaG/RUJbtLyviBJ+lDIMetFjzQjy8VeWTEvNEhzYTiU7LaZrQXQ72
          LzT5NEYpRM5xS3wAFGC2OPF3ATUzN436MOxJzKCcHqoRLmOXcqDHWKTh0T72
          +VWgy570KPQ4qbenWs2HF1UdH7b6XbcMiYa/IIb12PLnsvYKJTNZwyM/b71r
          2aoqwtWtk053zJVhuevkT3g/7BTZBc8gpor+4qUYTiTd4Ny583LGzDd9z/Iz
          RPVpaA/zWfCtWrTM7mlB9wScDb/bIp/cIbxH2DS9bRDJAfCjDy0zd/eyfDFC
          XoXdZf5F99Uq0rPY9oRR7O4L47za8k+2htuu9GekV94SJ+X7PaZZ26pl/ZCf
          n15pJlEwfsRPRfNh8CzNOZYXP/tNo7tAV4W+HFXecVUWAGZy/6wsCqt1iyh/
          lOPL+tLo72fb6Dcx7KaPUKGNyqbRopas9wDj1e4NLrvSzYI1KuzchVzyHJ9+
          P+vZsQY882bqOkMYnalBXfU7KCcXZUX8aVuBb00w0em+LuYkkcFQrRDdYC5F
          zxm6PnU0ZEfV6+OjhFwsM8N2EAY9CxUv9pRP0OQsWmikoOlF36Xa4EG1mqbo
          kFggjOVNvCFr2SXTj0rympbg7syIUBzG9QDGuUEvRZhr5XaxqpPHOh1zTZ/m
          x/d/XLZywuv8tn2gy6HfrfZIjyqs2bkALBlaeseWWKqEYBvl0oqu6R9i7FnF
          ChlTIyYFPIdF+VknMMu5Q7Gs7BJcxvjQpKOeuhPs8HV98xUYb8TYS8ZVpuYI
          K8iAhuJV3f3DtOM+72XMbVTl8F3s9x1bsFjH2LY6Yy7bxxrqyzZzvT75c1Qj
          Be2je38/s7N+FxdRWML2nNTmZGmojaa79WFtNP9uom8g7JiS/GGFc7DTp2lx
          /Ft1NMhnpjBB9P9rvVSm5+tZWceoH7BUzmlYOh27cezsXruvq8Sl8sp9HQJu
          12m4t5RVf2qwbvPha7uuD0bDZNWWbZZR3LWi3o5nrWjyavsktxxr+eZqvoQ4
          xLccbH5fzyYn++Hbj9w0G+3r8zT7EIPrsW2Tm8TOv315ysGCTGG9OBpJ1H1U
          f3kqt+Bb69n7wueC5sRyDCD7OW8swa7H4OPS6U+p26YHZ6m4FhYv/k49h7gs
          yFlus/kU4kXO2T91jxMxZTmY7tgdW666/2Ufg9rox3Yu4W5bPK7POCaPtafH
          7vPt/3wfnZm8jie/Qb+FIakhef49vyXSUU1dPZwmBTKrmjKH4uvTjf5s3/7P
          99GW+GpLfLUlvtqycQRN8TrXWVVfFPpa/eqcbC/kwX3mlimntlyqqp8abl83
          gx4q1iwiOae7WF1L6ftcUUu6D8thldV9nQ3iUmqULNG8BE8/VVMhK3d9qqYD
          jkEY7poO3evPsS46fSR55+v9E23vtQHQpvJeC3qvIb2xWFuH3LX9g2PEds3/
          efh5x3kM973sWv+XP2fjg3/jgrcOuucuddvO6jOxl/u2WvfkCZWryq5XbfNf
          vNP4Tuks1+E1vvOWLeWwugnR/dZ3f4b6fSRW9t456uONpZLM4TVERSTliAbq
          oV632WjhVxskdV3Pywwzaq0+6j+MiRku5bcfKOe//gY7YIajvm3jJ6B1d+UY
          Mz9zaP3SaTEhqG+nLbGQRjqKYaZP1bAVbdtq78wlILdiHSV6jqxmGQaPdYRo
          20AI3nyaY2tuFv41XM0Hg6l61JmLpqd1s8g3pZFhQ028OY21bPiDO/r65j6W
          G9f3wQW+fWNcndVp8XEsXgiqwaPcBfYh8W3SM5jL/CjAwqXca2qUXVk4l8RS
          I6aLqJ+4Ug9xoco6ou2o5YjsPp6v3a6r1bfEjTSb87f5Hz54yJ3/9xu3mFSj
          v+Neazu6asUdp1fuEebvQT0KPIBaz9Aym7b+DeuRR+UjLGEvMlcJ0nzvZ9Ti
          aloSiPU3AzGALEPuWATWjlD9LT/X/Vz3c4v2FSGjqoGQ5g2theXLtv3ZPM64
          a48bdke4MWF62K7ITDt2tfCyr2u8zvbZy3SZ7PNZ3Lo9Oxe4tpGLrSPAlb5o
          O8nfQicBrIby0HcBFRT2bn9yVj9T+71hAuGvQRSdkWEOxQ6W55CGxLpYoHmu
          /nWKfqPXzY2LKwLofb5Km8qDWY7TTTz7PqdVpYKdIy4lvnCFwnBMr0ccDYNh
          MRfrA9qJndbK833esjoFep7OhV/Py69rhWC4VYNQGG3GBfvOk6usIGzjRLuv
          oAFLz58h2Teqbijvid97lHN/XsV87DGwb6ZQG/Inwqyy6xR76oZPmWadX57P
          L8wI20f7Tdj9YbpJWfR3WS1lDNdi7iDpg/XcjJ7sfSXf519/s+jJrXUWd3/k
          w/IUN6byXI6xdJ2MzEIWl/l9tOKb+EDjnMB8wtzIRUaucCMxfVfTDRujGxW7
          Z3zgtDix+6yT4vZWD41BL6+DFwlmZWh/ue2DL+OxQB5YcO9UPz2KSwWPwdEv
          NOnliyyozrUuLLbBMTxke4yNL1sH5QIDFbamAZ79QNl93DcpG4DfYnhy4Rwh
          1QhKY+0Xtz/6hVvpG+gPfVbUGbTOxlLeLfF2k/kAwom5v2cvbkcub/UbvM54
          /6wqnGzNoSyPnGypbnKGPrzkeYzsewaHk/t8IQkI3TkTcy069LWV7+1LJyYG
          vGcpDnS+cDls/8hrgCNawI/+nKuAV68tG1X/5qOfHqo63FVQUMe5GD3z2z7P
          kF9SCHBi+BIZWty4JzK7h2HbbnbVDZOf7RfGifWcl+rvMPrbYruYFar9eGqN
          D8V5YUPBVrTjXoNHC8KpQCD1RObTLtYJXlb/I2k1UtVQ4Uo2BC9QeorHc7yU
          g2seKJoqSnph7h+oPFDosU6ZXaeZoJy+k0K0MnkVbZR805hQhmXl4lRF02/W
          6sM2OE7cMdcsIDk/OQdc/4wgG6P7HJLnwngeR6SAuPxYN/tw64lEnRpO1ubn
          jmfRYaHK84ccXb4l+IDOaAU9tY67LYz09VF67e6wY3LGI754bzR49vbX35h+
          5y7Xd1h9Lo5hpb2uSqCUQ5f7Ith/lLNr1zyMls/ltovXGDGfbf+u36XaTfnV
          bxuTXgyT/qkH5G3bsbvd9t1HO854mLfirLuWXDHfeybklWo4SRSKAEjoeRh/
          DQosD+VWVw4O2GNiMRFiFEizkrnD+UXaq12yfv8JusmWkz6ichbbrtH0jaFC
          lzjPLB3X41fMcT52PIWVeRUTPLhAlnLe0sm8NchRvv/UcFqcjDU2WXdbvpnw
          aAEy/g7DfZHRZe6tWjMX/T9sWdg8i+UfGe/u3xp+ykVXTrzV8OM4eA0/BvGg
          fTKfJ/MX7+8T/SG7KLCRxBEqd5zy8U43Y5ieA2O5ziAS5Q3DtCBmZAwuw0x3
          oXTfYf5U6b/Ug2rK/9K+81f7aP9HtY/oXXAIevNUGlrtI0MTBSwOvNwDVmPY
          33NzjZqicT5u+j7+9+8cizYFTWP6qFaa67Z1CXZ9X1vUIcov1NzWfVQvpLL6
          eKeMKkTreU7zxgKGJr+2MGkc04d6lOGapR+Eb53jwHcyF5/rsXo+ot33aA3G
          Pm2dku/1kSogm+T61eG5+IbHDqpqwfLO8om63zuorv61c/XO4HmFnVgw1wEO
          jrFs5mMOzyNNqrsTZlH+HFX0W0r8UN3fajgvrtWg++aArCn/8P65398sv/FP
          775Nf+Gqf3pvn6bjsWb4fhZpoYZHNXxUaUU5ZXpe2XXI/7dzRfPDad/q1n7f
          zVV30/zWkAtQHf5/oP1OntaszpvGHEyqb7ko2jAMoNVZJy0xL3J983A1VsSI
          uB5eunSpnpTTYHmaKmVT+WJWnPquHUM8zv/yG276bTWPuAz3sLl7nkb7//2z
          U4L0OgmkOv7NnCX2791fS/Kgie/ShxpP/93+LANUl4kp/zD68vXFisjH05at
          6pxNx+6X7/c70T/6iRMyEkK8S7TzB6vYU9QpvwUKvNed6tV0w7yUi8wltavW
          Z4FOPjsNCscEcM0zESWdNdfQ+mcHU9xuzYWLvKnZsTvZsWOBR992DKwx8Nit
          9eiUu8rq9+HhfrRruEZHSObfyhXs4lZtjKl6qrhf8Re6MZLVkFDNqsP2uVAY
          a8cot8CxHkrTT5cwdXStC5eqMuh4T7DnRrax2/oqBKaAP1XqH6QNrpfN41yy
          EBy1Sq7gUp6rWjHZ7qMhoPPQjXUu2X3jsONB63vYfbCpntCsZt1u08ml0MPX
          5iFOx77F6npwpcCPPcHfOc4UtUZarI7nacvenYXrkwy0/srfd6fL2iwKgLGu
          j/H281ouQ6br6vfb8Fw758+Pz/fb9N7X82O3c1Rxda6/zqEv6Q9Ju/YXxp6u
          VaruuzZnr89cxH5cNjZc/J39EHydX46pFaHheArjPtWHsFUn+rVCX/Sc6Sh7
          VV5Exk3vhndN0FxQTW1vn9vqWhuxvY9RxxmMhFO/JEYU3/vQ9rQ27PbG8zmT
          1lQxmaoi6tm+Ufn7rG9SRcOwhW8tHU1sK79pqJ4Fnjf8+PjWKA3FniscNPkR
          Ywbxhu0SCfJpu386vVifbxY2fjb2X42z7ee5/5r9wZrk1P+qeMCgV9euDfvd
          dl1Mz9r9qlott9vlPr92P9Rk87MG+6b33HvPuTSIs/nO3ea5ZHvutvu5aZsS
          z855yTq42w9T88N1lVIuLN+Gc9Xe9U80Uccz971o+6zjoze2wBzbIDyrKrrq
          PshkfmfIWsh27fN8R3x9D9fEU06L9wv0yjta/YQ/8o7K8//EO5ig8w+8Q3md
          /8Q7uL7pb96BOSPs1KUy8yxSLUdRe+Uf5Zv+BwaGNn8/xAMg3lTRhPwfvL7E
          jf+qqqUknjya8e0pf5HpeCdpbDn/37w+fHl9uO0epqIFOffF67l4QrjPL0/v
          dJF2s/OUi2S8jyvEBdENUSV4v3hb0nqPyjUjT+P+w/x/9GNzrPJw/nWs506b
          Bx4ag0/fM/ef9+j8aedFl9QFbvp7WRfMjpM+d9/jP72LvFX88vjyy+f4nhO/
          PL788h6EJTi/PH7yyzvaOfHL4ye/hH6lc83PCafHmn9cIdtxkBtDmF9yDgb2
          5bhzRpUTddSPrMsu6/iNjyiAJw62+U27eMGnXR/a9XadXI/xMho8HKu080gO
          9yPsuO9uS0jg0zCRYYjNrvrhF5QoVr2ttFih4TERtlIzrOiox32ctgRaZXNt
          PuOjPjX0n0O+uZS9xpp8xcwdvF94VspRVm13OXoXzVemO9FSmBuzrGdzrcUJ
          a5s5C4/113V+8ysu8wUmVr/7fW8lHvKMSfaZ30u9SEG3+pJlh/GtPW5TNobx
          rV0jT3jUofWfjM9wLE6bH9Kvp2MNgsk4+njZJ/p+rhFzR9MviYy9XGbpXSzS
          YG2hvQQ7SdbMIIqT1w6XR4fx7j12rIkSLLfn2G1aoNvRvnRF2aZvCfYt4fUt
          B3NHl9Eh+bfm/asv+rsvnIfznla/fJu5dsK9sw6t9NIv356P59P6eRvvbx+j
          bZSXqU6XVV6vZfOUq1rtvc1TbsZq/sBTnuvROj/k58nrwGye8lS75088BcbR
          +ieecne770885Q7fc795yjWtLX/iKRiv9U88ZS07t3nKoUxnluY5LE4ytBbw
          551vnsD1KP+RJ3DdV+cJnzm/ngGW9GPOs87LZ857bcrP/I5ag/eJ5932fF7M
          qR1GewZIsVqg2/d8Ylx3fUDGB1RfnLHuYHldWULLscDFaOQk38h0U7DO8KfG
          AzEBZ2cCBmOJpsuyuuAdGUdlnLAS3yDsxFAOhdXwsTxwKraH8pIiNXnxgIer
          BREPrNzljWM9cnk9h/xt1xBU/RvWLLpte3j9FrS5n5ZT/Klb2YkZVduH4h/v
          fdjhmJ9tsCalivf6u5utocBve5bnIGKcRAFcb5Bs2NfzbenX+iTr1VdJtRy+
          +7/WXtl+1U/9VLqP+zfXcK9XfGx/6xjFazNo/7psf7l9+8Y5L33jEI/ovr5B
          dF+W1fuJog1iW47KJTpBr3WvM8+137x/HRNyXPIV3/SrNpYxj7aWV2Vukc8R
          Fszl3JDdFmPcfFgY08NrKmOMm8Z4qKaC90s4L3pzP1jif8nNU02aX3wwut29
          dVrZI4kOXuO9PXPt9p2bZTJA62ru2Nnx0tFZgWzTDe100izz4QwDYT6M66+/
          +xrVgBUWV2Pd1Zi2H72KhulXUuzb6eyGLRUcS/rOuSZG0PDS0eqKEofJdDvq
          ltPiNlzH+bcs1Plk30sHk+RHVKz/Yf+lF271X/rM3+v6q57B+vbOX8K2D3le
          eiXfz99Rtd1+6FT9k5dxssir0ej86+92jBaW1/mFRhq6YY4ZmynMJ4fusKbW
          rGUtd4KrZp8t8h1Z/vlPTsct+mzqx4c5YRka2OS66fxW1mc49Hz57IkJz5mo
          k6q1qWCbD44HaxgQ4z6aeN5j4281xvgdkYYCf9PPH9GlnQtAab33bvFR9Cza
          NB0rxKR1xReV7zQaSxdNq3cTwuBaY5XaEEhPq0owNSLZ75r2ukpRGJKofNd6
          aK0To9NixwreHRnr3/ttt6WG8MofQs+u+MXQHaoRzZUGqcM8xhOj/Ppam6Z4
          7jHXNvnB08NUbWjj6VM5cg+vIe7jzqzTVWVb896tQ4B4+juXaZGPZLVl0S4S
          L7Aa1szRQ7vzk3wNQMr4e/vGG2uMffInPee7cr0N8ERFnQ6OXTk+YxeeX3WR
          N4/cvHHzxM0zWdHV0hJ83c2NKVqf9WdWYa2nId2QybDEvwbWMSq+xg/r6qb4
          rn9itQ9GX9/6J70l4t2I7kzmk1uMyegYnZfbp3Oa3d6ttjyMC3tPvpUfyPoC
          VsuxWx2uNFSHrnudj8P1h5P0jQlJquSal+2zvkAWXvfc8X6+GhOI+fjEXN47
          Lqb3Q8ZxG6m/clS8jpBv/7xPnACXwyGOjGt0DT/W/Fj9zJ2NifqR2x4w14SF
          7TWt/RzSuLX3WPs5XOPxE5N1HEn1OObv/V3P3HP7s9cDZezY8iB93RLH+MVu
          +4o2k7L2mqxOQ7MYzeRdg8xpRghl+QagKijveQwuy6pUV1/74uD3k75cD8uv
          GllB9eUUUwxcv4T5ervtoZld+JHlpE3SqGIAaKLygPlBpkuQF3L+eFwhUAfM
          1N9bEJ98guUeMyEXPI54tHiDxzHOTvDCYgE24uqCMDIdEl65iI25AvTsUytN
          bYCJEb8fmZFu+T2QFearvNDoQc/5XjtTTuqptX1O1lvku8gXmSf3zmvg+lBa
          F+sYYfvzY0bvWl3tqvyoi/lqwnzK3yaMXlGdEuUYy64zgM4Y97degec0qQZC
          Av+fsY0b7dx85nD7OETXmV85TOzv4P032X9VOoR09XrBrirhJlbpZBD5ZCX2
          m4kyHJCCx1yOJ1AOWGSBTW6JlUD/9OHrtpGe6cOzdeNn8e3w7cVvmFZzQ8+g
          ZdiD5FK6LM+E+VpMKv7kqSzm+H37V/F7Lkh3SJe/yWLiMmI/uc6C09zpeufG
          j3ePf7yfJb5B2d09Hz+Kj8m2X6xFXg3bk4hfivLtTtXIpG57VphhwoN+8MPs
          00CYG/RQRuGFf7muMpnHbRAe0ozWRGeNGGK+qaMmt+8+eUBcBzZ4HafLal40
          +q3KO2dH9tHzWe+rEKsFOX8rr5GFNiH3FJiCiInXNW0d0N0fNZuP5jFuf55e
          S2rXO1OcVnlyjp2IVp8J+hIrfq5YameOnuuJV6xWD4oxXvK4eVoOOOtjCp9D
          X8xkDVi3fRjxeB2/9nFi79PG6YA/B+GxxsYg0LbBBwn3MFkHhHY6riu2ps70
          en39fX2Gvue5ppX5hdH4zBXHdegd+95k91CHWaYboj87c6qG10XDpSDfodrz
          Qyp68TWqumyxw9eoUu5mcL+6arCHZ+3fnTXd5r1zcxnkHMLxcn2/Kqy8crbk
          40iq4b+Iy1paJNDsxvm1v9TWA/KqEofAGnL2rarxDjEZVHOFJXy7tTeaf3dE
          rY1O7fYuY51JeJNobWcf/W4XbeF3u1izmu9SzmY1/Bzr/O7xok/sSBgu6m2/
          676UX9fTbg2my6r90e+lvTF9fKLWT6PzksVDdB3zk4LjmhkNV81UrjdspTAC
          ZRr1LPCVm/0zm2NagtYfE/hHW+ZpMc6/+Vn2dceK6RzDY7TJ175lDUi9v2t9
          F63NzN+syTEr9E36C5irUxv6rhkPj/Jh/NDx9nokG9935Y2dt/X4ttxf0Wt9
          u/z/XReueV24umsOcHWZPq75kruReLSqHAnawrbdtWCYv+75XHPns3vuCtS+
          mFlKdGHes7jiTVAeA8iyIS/Nm9OuvWy9kyJesERDXxxndH0+ml+kN/B8jQGs
          G9px2X5P3lUlE7QAUbmei8Y57SHWLgM7haEP7cN9ZZjfWutM6ymM+/POw9Yp
          17vqko1MS4AiiHLMckMYJNAaixhKeia4tryMS/N7xYm5R90tCfHLQhhdx2GH
          h+B1iw17bqsB0963VYH/xe7fOUpzj3mx2PwNRi5evGwMD8eewYoqb4znUT2W
          7xiAnJWghyli54ffl4rs1Xse37XpJPezrbsWoOdQplFPi0v+sJvr3bPEKDHp
          7n9U/UDmm9+1KaeaasNUYhXrezETCsN6mY4/8Zvyjb9vFmXuLOTbuHAUVzpl
          riVLiGe/j8kRrDuS/XyOVq+Zy2HBbm9ly8SjO7aF9tthNj2x5lCZiHC7otmr
          T+ivep1chw/W3VI9CVAGaIwl2KPVp4U2ehXphIs64QcnQ1i6raXEGkfMw+l7
          XXbiKm/pwaoX+IoDn1ZPeO414rh/Jds/mesfhJmTL/dzzHICuPZWw9c+V75S
          fNWE/MjmVx4kbUrI36d97APjdYKRsp5o/cQ9qtbD5TrdXWu5nuwv2LY3bdTS
          U/is0VGpkVk98lnqretnORk0oeuK/l8Okuq+/5f6Xf3UN4d25Mcbt7uWyGl2
          Hvtq6zsc2wCNJlOXY5h7JQPSsvsxn8uuUe5rHB631ZCB0p/CGbWO1lSRVC58
          Yz5KviO5LR5gr4OOV6m+LqHXj9j5meOxuKIWHH4szvp7bc3te6UMWV73kb8v
          yGaY5bsucKrFdDzlJVyiDdYyuEFrvnaI6/zXs8Kv2oW7RvVhiYPkd8w9GntN
          r2x1v8ZUqix0R895u3zMiVXOdF0Fy0mgSby/8WjgY1wn7pFvmLz4irDhLfeP
          cQfStTDcmXn/+AzY573bGiQ1Z5g2WuOtpjJfWKl4G1aKqQVkP8y7oqsXHcz+
          n5XJ0ULmUd9m+kfda5QFAk2h05zQCSkrj1zwrV1Lg0dmrkPGJFa18nrF8kXy
          HsYUBiuRe/9ZJvEMhjH2sSLHiu4DetFeGK96cE2+8289a+ii7/pwrJ+r2lTN
          1m7SsizKGUY/Yx7RqYa5dMEi7LZWAdTdE4yNlWuZJ/v2D1yQ19drXe5f+6YL
          eE12x3B1WvGqgW7bbx7Zz1pIG8O8ax5Nz9Hqnht7+Vroze9n/5zRfXPZ7Ml+
          gJ96bYF71xagBJqP2be7Jp2vI/yH7Wm/665/EKd0gi6spv32GqvT73lvq9ne
          uXPdOcwRcC/HM9l+9/2D8chXfRz6EqCliwKirSIMmVFGs3FlRIm6LPE7yrdy
          +yptzPRQ/duhejNa7xq80PC8A4Jf/ITrB1OeBFurRPXptEaXxQCuFZSHz9g1
          Rd2QTZC0hkU4Sgq5Fa3dSLtcGC7Q1Q3jAKaF+pn8D++76Jx/9/1xW12imlog
          i2TsWjU0XrZx5yKsybBLm5eu+7m49ojVDeKoW0wPky/wmK4pz7WPhxvHLzt+
          ql6dbFj6ucJr7MNkfYnuukR89jpfG2cUeHys7/psn/7DPFTu/tFs/YhlOUrs
          v1x8bdHBuFUde01UZvXsfmRszdZ6w/wPVldCucyQY8XpagrTBBufGgVjlFU0
          pf7ol/miKIPKsOt1r60xrvnHTGut0QC+AJ5LNHrP0IOZIkNbZPl1j2Mm97pR
          qs1PdIDVMBf+Fe+4btZm6LbObAGPWdIdr0xsJKQHWKmkmvJlPthJ6quGsTku
          5TgNr/09tH6u+CjfwZyTMsxOfOUS5ZblQ4n9S+ewSeYHm52//a64isfK5Pfj
          alUBkpz29WV+BQiJBGWxsiIHdQHYQ3FAUUgnbQ9WXKSNEpvWdEn0GBf+ht6s
          GnG8hgl8HKOo9bhPTJQh2Wvr2bL+XCEY1zD8x8MFnRILy52qZwV76+zSIWuY
          whNPmqiXY1Il54+uQWe9C6MAftelvMo9V/V98ft9xCniOVMyO5VauBrWzCom
          WZLjxYPaGGwdG3uHci6Ur5/IK9g25SUGyxkfp3AXujZxZaFz49+rarBxAeuD
          OaPB13nDeVa1nKdK//XImujK6oFtNX3Le3IRdkdYm10XYXldn9V9O3xrhbm1
          fLqt+2vb+7LtVZYdD1bzf9dbwKTW9rptW8Nek93yeoev0cgAi+X02Tq2SX4x
          w2+zlAcTahiZ82/o+xtYxxtjPcMTDRs6pcPbOs/h+tAl7Prb8cbsd5ZeYF8G
          aKfnzbpJgRPsSvgtnZxYlY35rMI0TVrjB58P2TW8ls7n+ed0v1pTvTbatswV
          hDaB5zPfIhlG+7BaRYnLtd7MM99zkbUTT8O5QSdo8ldDcSLu7hs3ihU0D73P
          asRkfkuTLHpYdKuyhmQQnzc8B2PZeAII+/7IItgjyXktuE7fvDQNrlUC2WGx
          RvGFCStG9glXqg12H781xme9ZROdq1wrEWMR9zNyyVBSynJbL8mvdageKZeR
          p6+7qh7Jfc2oupqsA8naJgzLYF5zjWuXFel+8aPH1jEfETIMpMbcQlaiUR2W
          emHyvK7Ndm3l+vRh52+28Lu2t+Q9638+6lvLZQm2DnyULb/aX39faZanaE34
          5HWruZYLbTTFCqxudX3XrT6Vb9mr161mP7C2XsrCArDeyjMe+jxKHU8qzWp+
          z0iPE7GTrFm8FIdkHunh+mRhrl48XmsR3Za/C0IgD7q23LN31uBrJ8ddH1rr
          //J62rtLa4sxfiGQRvI1nxR7KdnWWeZSzAxBXsRmqcbFUIWH8yq+T18aZBws
          BQJhrG4sq6dGWwsnnSfrFVerXccYMfMTlfeJcVcu8rnzUQ3H8eFH8ycf2nxk
          86eNB2HSOSXmfdi6rBfmLFdqZmJh8pir5FMwjK7iicUwK/S3sD/e8u3auUqE
          OdzySx9Oy+FP+ixtt61T7doP27br2dcd9nV3ZnrVtTq9rtXZwl7P5netGtYM
          v9Zs0p72+qA9fmrc2VpT9nvrEnHmm0v00MeQXvVRI5OnlZxhvkr6MBmbjqum
          uogTgW0ItWX7L7TUD+eN1+SZUfn4Z0zfPCzaazyeYJOyakhfWtdjfNbp2nXV
          eR3r5oE/a6y5psD51ZXYX7CjVk2f5wpvtUynsPgos5qX1n2Vvq74aHrNedY1
          YQzv/rZ33T7/rX6SxRnX6x5ij5ps4nu38zf2CESq/M3aTH5BWTM5xfwW+UVt
          yyKUWkDQ82P29bbK4uxU3JrXouGF47mLIlGEYHfY2vmfz/f178+zsJLWkvyH
          8+SV/+78zRlc/l37Cgt5aFVf/oMpILzAcHju/oc+eAKr3HAtsWde+/iivUhq
          b8oQsHowSuD37W3bkHzbfbtsG+P0FXFKsaRg24I5atuzb4dvb9uO5NvLtjP6
          tvl2+XOqbdNpW663ytylyApud45ULbTuz9WsLk2atyUr2z8Yh7Yepf+rjD8L
          e8bjIf319yhzqEzLUZ6TkcpjXrYNmIRKNlwGdr7pHeOzG/RXOi+D7YOhZcXd
          uUC2wsZ2fpauNcBKsfPH6cdP24/B9tM5lhYF5BTUfbO/v6Fx0F7fAEP2UVzf
          j+Ob7foyuUIXZNw8/vTcxJy413OD6nV89yFmr/f5z/Fg93+ey7XM41zVKZJ5
          ZvuRz/PX/wfFz5Yg
        </data>
			</dict>
			<key>IOClass</key>
			<string>BrcmFirmwareStore</string>
			<key>IOMatchCategory</key>
			<string>BrcmFirmwareStore</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
		</dict>
	</dict>
</dict>
</plist>
